@import '../../../assets/styles/utils';

.info-block {
  display: flex;
  padding: 20px 24px;
  background-color: var(--light-bg);
  background-image: url('/src/assets/images/bgbg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;

  & > &__column > p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 32px;
    @include font(Roboto Condensed, null, null, 16px, 26px, #ffffff);
  }

  &--large {
    padding: 24px 48px;
  }

  &--large > &__column > p {
    font-size: 24px;
    line-height: 26px;
  }

  [dir='rtl'] & > &__column > p {
    margin-left: 0;
    margin-right: 32px;
  }

  &__column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  .info-block {
    flex-direction: column;
    background-image: none;

    &--large {
      padding: 32px;
    }

    &__column {
      width: 100%;
    }
  }
}
