@mixin position($top, $right: null, $left: null) {
  top: $top;
  right: $right;
  left: $left;
}
.hero {
  position: relative;
  display: flex;
  margin-left: 170px;
  margin-top: 30px;

  &__item--1 {
    position: relative;
    user-select: none;
    &-anim {
      position: absolute;
      @include position($top: 300px, $left: -110px);
    }
  }

  &__item--2 {
    position: absolute;
    @include position($top: 159px, $right: -240px);
    user-select: none;
    &-anim {
      @include position($top: -105px, $right: -70px);
      position: absolute;
      right: -70px;
      top: -105px;
    }
  }
}

.p1div {
  background: linear-gradient(
    180deg,
    #23116b 46.19%,
    rgba(37, 11, 113, 0) 100.72%
  );
  backdrop-filter: blur(49px);
  width: 318px;
  height: 837px;
  border-radius: 30px;
  position: relative;
}
.rainbow {
  position: absolute;
  left: 84px;
  top: -60px;
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
}

.top-photo {
  position: absolute;
  left: 118px;
  top: -52px;
}
.left {
  position: absolute;
  user-select: none;
  &-title {
    @include position($top: 68px, $left: 90px);
  }
  &-player {
    @include position($top: 206px, $left: 45px);
    max-width: 176px;
  }
  &-comment-1 {
    @include position($top: 144px, $left: 34px);
  }
  &-comment-2 {
    @include position($top: 402px, $left: 34px);
  }
  &-comment-3 {
    @include position($top: 465px, $left: 45px);
  }
}

.p2div {
  background: linear-gradient(180deg, #22059b 0%, rgba(37, 11, 113, 0) 100%);
  backdrop-filter: blur(99px);
  width: 289px;
  height: 699px;
  border-radius: 30px;
  position: relative;
}
.rainbow,
.top-photo,
.p2div,
.p1div {
  user-select: none;
}
.right {
  position: absolute;
  user-select: none;
  .right-logo {
    @include position($top: -70px, $left: 65px);
    left: 65px;
    top: -70px;
  }

  .right-title {
    @include position($top: 74px, $left: 82px);
  }

  .right-comment-1 {
    @include position($top: 126px, $left: 31px);
    max-width: 227px;
  }

  .right-grid {
    @include position($top: 239px, $left: 32px);
  }

  .right-button {
    @include position($top: 470px, $left: 32px);
  }
}
@media (max-width: 1050px) {
  .p1div,
  .p2div {
    display: none;
  }
}
@mixin pNdiv(
  $width,
  $height,
  $top,
  $right: null,
  $left: null,
  $zindex,
  $image
) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  top: $top;
  right: $right;
  left: $left;
  z-index: $zindex;
  background-image: $image;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s;
  animation: hero-before 5s ease-in-out infinite;
}
.p1div::after {
  @include pNdiv(
    147px,
    50px,
    245px,
    null,
    -165px,
    1,
    url('/assets/images/left-lines-title.svg')
  );
}

.p2div::before {
  @include pNdiv(
    155px,
    40px,
    -120px,
    50px,
    null,
    5,
    url('/assets/images/right-lines-title.svg')
  );
}

.p2 {
  @include position($top: 140px, $left: 470px);
  position: absolute;
  max-width: 289px;
  transition: 0.3s;
  z-index: 1;
  display: block;
}

.p3phone img {
  max-width: 100%;
  height: auto;
}

.p3phone {
  display: none;
}

@media (max-width: 1050px) {
  .p3phone {
    display: block;
    margin-top: 50px;
    text-align: center;
  }
  .p1 {
    width: 215px;
    top: 288px;
    left: 20px;
    z-index: 0;
  }
  .p2 {
    width: 215px;
    top: 269px;
    left: 180px;
    z-index: 0;
  }
}
