@use '../../../assets/styles/utils' as u;

$color-font-policy: var(--color-base-30);
$color-font-policy-hover: var(--color-base);
$color-button-stroke: var(--main-black);

footer {
  background: var(--main-black);

  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  .outer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .inner {
    display: flex;
    justify-content: center;
    max-width: 1310px;
    width: 100%;
    padding: 0 10px;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;
      padding: 40px 0;
      gap: 20px;

      &:nth-child(1) {
        position: relative;
        z-index: 5;

        .button {
          &__group {
            display: flex;

            & > :last-child {
              margin-left: 30px;

              [dir='rtl'] & {
                margin-left: 0;
                margin-right: 30px;
              }
            }
          }

          &--fill {
            button {
              width: 160px;
            }
          }

          &--stroke {
            width: 140px;
            background: $color-button-stroke;
          }
        }

        p {
          @include u.font(
            $family: var(--font-secondary),
            $size: var(--font-size-medium),
            $line-height: var(--font-line-height-large)
          );

          opacity: 0.41;
          width: 219px;
        }
      }

      &:nth-child(2) {
        p {
          @include u.font($size: var(--font-size-medium));

          opacity: 0.3;
          margin: 0;
        }

        ul {
          list-style: none;
          padding: 0;
          display: flex;
          flex-flow: column;

          a {
            text-decoration: none;
            @include u.font($size: var(--font-size-small));

            padding: 6px 0;
            display: block;
          }
        }
      }
    }
  }

  .logo {
    width: 125px;
    height: auto;
  }

  .icon-list {
    margin: 0;
    width: 250px;
    justify-content: center;
    gap: inherit;
  }

  .form {
    input {
      background: none;
      width: 100%;
      padding-inline-end: 40px;
    }

    p {
      @include u.font($size: var(--font-size-small));

      opacity: 1;
    }
  }

  form {
    position: relative;

    button {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      bottom: 10px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        filter: hue-rotate(-40deg);
        transform: scale(1.02);
        transition: all 0.3s;
      }

      img {
        width: 24px;
        height: auto;
      }
    }
  }

  .policy {
    @include u.font($size: var(--font-size-small), $color: $color-font-policy);

    text-transform: capitalize;
    display: block;
    transition: all 0.3s;
    text-align: center;

    &:hover {
      @include u.font($color: $color-font-policy-hover);
    }
  }
}

@media screen and (max-width: 1050px) {
  footer {
    overflow: hidden;

    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;

      .col {
        align-items: center;

        &:nth-child(1) {
          p {
            width: auto;
            text-align: center;
          }

          .button--stroke {
            width: 125px;
          }
        }

        &:nth-child(2) {
          p {
            margin-top: 0;
          }
        }
      }
    }

    .form {
      width: auto;

      .input__wrapper > button {
        margin-right: 0;
        margin-left: -30px;

        [dir='rtl'] & {
          margin-left: 0;
          margin-right: -30px;
        }
      }

      form {
        input[type='email'] {
          width: calc(100% - 10px);
        }
      }
    }

    .button {
      &__group {
        display: flex;
      }

      &--stroke {
        min-width: 125px;
        width: 140px;
        margin-left: 20px;

        [dir='rtl'] & {
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }

    .icon-list {
      margin: 0 auto;
      margin-top: 0;
    }

    .policy {
      text-align: center;
    }
  }
}
