.team-list {
  margin: 0 auto;
  position: relative;
  margin-top: 55px;
  z-index: 2;
  %position {
    top: -40px;
    width: 75px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
  }

  .prev {
    @extend %position;

    left: 0;

    [dir='rtl'] & {
      left: auto;
      right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }

  .next {
    @extend %position;

    right: 0;

    [dir='rtl'] & {
      left: 0;
      right: auto;
    }

    &:hover {
      opacity: 1;
    }
  }

  %swiper {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    z-index: 5;
  }

  .swiper {
    width: 925px;

    &-slide {
      width: auto;
    }

    &-pagination-teamlist {
      display: none;
    }

    &-prev-teamlist {
      @extend %swiper;

      left: 0;

      [dir='rtl'] & {
        right: 0;
        left: auto;
      }
    }

    &-next-teamlist {
      @extend %swiper;

      right: 0;

      [dir='rtl'] & {
        right: auto;
        left: 0;
      }
    }

    &-button-disabled {
      opacity: 0.4;
      user-select: none;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1050px) {
  .team-list {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s;

    .swiper {
      width: 100%;

      &-next-teamlist,
      &-prev-teamlist {
        display: none;
      }
    }
  }
}
