$color-swiper-spinner: var(--color-base);

.team-list {
  margin: 0 auto;
  position: relative;
  margin-top: 55px;
  z-index: 2;
  %position {
    top: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%) !important;
  }

  .prev {
    @extend %position;

    inset-inline-start: 0;
    transform: translateY(-50%) rotate(180deg) !important;

    [dir='rtl'] & {
      transform: translateY(-50%) rotate(0deg) !important;
    }

    &:hover {
      opacity: 1;
    }
  }

  .next {
    @extend %position;

    inset-inline-end: 0;

    [dir='rtl'] & {
      transform: translateY(-50%) rotate(180deg) !important;
    }

    &:hover {
      opacity: 1;
    }
  }
  %swiper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }

  .swiper {
    --swiper-preloader-color: #{$color-swiper-spinner};

    &-slide {
      width: auto;
    }

    &-pagination-teamlist {
      display: none;
    }

    &-prev-teamlist {
      @extend %swiper;

      inset-inline-start: 0;
    }

    &-next-teamlist {
      @extend %swiper;

      inset-inline-end: 0;
    }

    &-button-disabled {
      opacity: 0.4;
      user-select: none;
      pointer-events: none;
    }
  }
}

@media screen and (max-width: 1050px) {
  .team-list {
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s;

    .swiper {
      width: 100%;

      &-next-teamlist,
      &-prev-teamlist {
        display: none;
      }
    }
  }
}
