@import 'public/styles/utils';

.users {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;

  &__row {
    border-radius: 8px;
  }

  &__cell {
    padding-top: 22px;
    padding-bottom: 22px;
    @include font(Farro, null, null, 14px, 14px, #ffffff);

    text-align: left;

    &:not(.users__cell--head) {
      background-color: #040d5b;

      &:first-child {
        padding-left: 16px;
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        padding-right: 16px;
        border-radius: 0 8px 8px 0;
      }
    }

    &--head {
      opacity: 0.5;
    }

    &__coins {
      display: flex;
      align-items: center;

      & > img {
        display: block;
        margin-right: 8px;
      }
    }

    &__level {
      color: #48f573;
    }
  }
}
