@use '../../../assets/styles/utils' as u;

.subtitle {
  margin: 0;
  @include u.font(
    $family: var(--font-secondary),
    $size: var(--font-size-medium),
    $line-height: var(--font-line-height-large)
  );

  text-align: center;
}
