@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.subtitle {
  margin: 0;
  @include u.font(
    $family: v.$font-secondary,
    $size: v.$font-size-medium,
    $line-height: v.$font-line-height-large
  );

  text-align: center;
}
