@import '../../../assets/styles/utils';

.celebs-blocks {
  display: flex;
  z-index: 3;
  position: relative;

  .block {
    display: flex;
    align-items: center;
    margin-right: 50px;
    padding-left: 53px;
    position: relative;

    [dir='rtl'] & {
      margin-right: 0;
      padding-left: 0;
      margin-left: 50px;
      padding-right: 53px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 37px;
      height: 30px;
      background-image: url('/src/assets/images/celeb_f.svg');
      background-repeat: x-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      overflow: hidden;
      animation: stripe-animation 4500s linear infinite both;
    }

    img {
      width: 37px;
      height: 46px;
      margin-right: 15px;
    }

    p {
      width: 250px;
      @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
    }
  }
}

.celebs {
  &-list {
    display: flex;
    transform: translateX(-245px);
    z-index: 8;
    position: relative;
    margin-bottom: 50px;
  }

  > p {
    @include font(Anonymous Pro, normal, bold, 16px, 16px, #ffffff);

    margin-top: 30px;
    margin-bottom: 25px;
  }

  .slick-slider {
    %position {
      position: absolute;
      width: 54px;
      height: 62px;
      top: -20px;
    }

    .slick-list {
      padding: 0 35% 0 0 !important;
    }

    .action-button--next {
      @extend %position;

      left: 0;
    }

    .action-button--prev {
      @extend %position;

      right: -320px;
    }
  }
}

[dir='rtl'] {
  .celebs {
    .slick-slider {
      .slick-list {
        padding: 0 0 0 35% !important;
      }

      .action-button--next {
        transform: rotate(180deg);
        left: -20px;
      }

      .action-button--prev {
        transform: rotate(0);
        right: 440px;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .celebs {
    &-list {
      transform: translateX(0);

      .slick-slide[aria-hidden='true'] {
        opacity: 0.3;
      }
    }

    .slick-slider {
      .action-button--prev {
        right: 20px !important;
      }

      .action-button--next {
        left: 20px !important;
      }
    }
  }
}
