@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.celeb {
  background: #2f1385;
  border-radius: 16px;
  width: 227px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(
      31deg,
      var(--gradient-color-2),
      var(--gradient-color-4)
    );
    border-radius: 17px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 15px;
    margin-left: 25px;
  }

  h4 {
    margin: 0;
    @include u.font(
      $size: v.$font-size-h4,
      $weight: v.$font-weight-regular,
      $color: #fff
    );
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0.3;
    @include u.font($size: v.$font-size-medium, $color: #fff);
  }
}
