@use '../../../assets/styles/utils' as u;

$color-background: var(--light-bg);
$color-gradient-1: linear-gradient(90deg, var(--color-2), var(--color-3));

.celeb {
  background: $color-background;
  border-radius: 16px;
  width: 227px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: $color-gradient-1;
    border-radius: 17px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 15px;
    margin-left: 25px;
  }

  h4 {
    margin: 0;
    @include u.font(
      $size: var(--font-size-h4),
      $weight: var(--font-weight-regular)
    );
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0.3;
    @include u.font($size: var(--font-size-medium));
  }
}
