.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  %action-button-direction {
    width: 75px;
    height: 86px;
    cursor: pointer;
    transition: all 0.3s;
    background-image: url('../../../assets/images/slider-arrow.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &--prev {
    @extend %action-button-direction;

    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.02);
    }

    [dir='rtl'] & {
      transform: rotate(0deg);

      &:hover {
        transform: rotate(0deg) scale(1.02);
      }
    }
  }

  &--next {
    @extend %action-button-direction;

    transform: none;

    &:hover {
      transform: scale(1.02);
    }

    [dir='rtl'] & {
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) scale(1.02);
      }
    }
  }
}
