@import 'public/styles/utils';

.tab {
  > button {
    padding: 16px 20px;
    background-color: var(--main-black);
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    @include font(Farro, normal, 500, 16px, 104.4%, #ffffff);
  }

  &--active {
    > button {
      background: linear-gradient(
        270.9deg,
        var(--gradient-color-1) -2.92%,
        var(--gradient-color-2) 99.95%
      );
    }
  }

  &--secondary {
    > button {
      background-color: rgb(255 255 255 / 10%);

      &:hover {
        background: rgb(255 255 255 / 100%);
        color: #030c5d;
      }
    }
  }

  &--active &--secondary {
    > button {
      background: rgb(255 255 255 / 100%);
      color: #030c5d;
    }
  }

  &:first-child {
    > button {
      border-radius: 16px 0 0 16px;
    }

    &:last-child {
      > button {
        border-radius: 16px;
      }
    }
  }

  &:last-child {
    > button {
      border-radius: 0 16px 16px 0;
    }
  }
}

[dir='rtl'] {
  .tab {
    &:first-child {
      > button {
        border-radius: 0 16px 16px 0;
      }
    }

    &:last-child {
      > button {
        border-radius: 16px 0 0 16px;
      }
    }
  }
}
