;@bonuz:registry=https://code.bonuz.team/api/v4/packages/npm/

;'//code.bonuz.team/api/v4/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"
;'//code.bonuz.team/api/v4/projects/18/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

; Added by Martin as part of refactoring CI/CD;
; Use variables to avoid hard-coding auth token values
npm config set @bonuz:registry https://code.bonuz.team/api/v4/projects/18/packages/npm/
;npm config set -- '//code.bonuz.team/api/v4/projects/18/packages/npm/:_authToken' "${NPM_TOKEN}"
;npm config set -- '//code.bonuz.team/api/v4/packages/npm/:_authToken' "${NPM_TOKEN}"
