$color-background-slides-1: linear-gradient(
  236.58deg,
  var(--color-1),
  0.92%,
  var(--color-2) 100%
);
$color-background-slides-2: linear-gradient(
  236.58deg,
  var(--color-3),
  50%,
  var(--color-1) 100%
);
$color-background-slides-3: linear-gradient(
  236.58deg,
  var(--color-2),
  82.92%,
  var(--color-2) 200%
);

.roadmap {
  &__list {
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 60px;

    @mixin position() {
      top: -40px;
      width: 75px;
      height: 85px;
      position: absolute;
      cursor: pointer;
      transition: all 0.3s;
    }

    .prev {
      @include position;

      left: 0;

      &:hover {
        opacity: 1;
      }

      [dir='rtl'] & {
        left: auto;
        right: 0;
      }
    }

    .next {
      @include position;

      right: 0;

      &:hover {
        opacity: 1;
      }

      [dir='rtl'] & {
        left: 0;
        right: auto;
      }
    }
    %swiper {
      border: none;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20px;
      z-index: 5;
    }

    .swiper {
      width: 940px;

      &-slide {
        width: auto;
        %transition {
          transition: all 0.3s;
        }
        %transition-transform {
          @extend %transition;

          transform: scale(1.08);
        }
        @extend %transition;

        .roadmap__item {
          margin: auto;
        }

        &:hover {
          filter: contrast(150%);
          @extend %transition;

          .roadmap {
            &__item {
              h3 {
                @extend %transition-transform;
              }

              p {
                @extend %transition-transform;
              }
            }
          }
        }
        %item {
          background-size: 200% 200%;
          animation: gradient 3s ease infinite;
        }

        &:nth-child(1n + 1) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-1;
            }
          }
        }

        &:nth-child(2n + 2) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-2;
            }
          }
        }

        &:nth-child(3n + 3) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-3;
            }
          }
        }
      }

      &-pagination-roadmaplist {
        display: none;
      }

      &-prev-roadmaplist {
        @extend %swiper;

        left: 0;

        [dir='rtl'] & {
          right: 0;
          left: auto;
        }
      }

      &-next-roadmaplist {
        @extend %swiper;

        right: 0;

        [dir='rtl'] & {
          right: auto;
          left: 0;
        }
      }

      &-button-disabled {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  .roadmap {
    &__list {
      margin: 0 auto;
      margin-bottom: 140px;
      border-radius: 8px;
      position: relative;

      .swiper {
        width: 100%;

        &-slide {
          .roadmap {
            &__item {
              margin: unset;
            }
          }
        }

        &-next-roadmaplist,
        &-prev-roadmaplist {
          display: none;
        }

        &-pagination-roadmaplist {
          position: absolute;
          bottom: -60px;
          display: unset;
          z-index: 5;
        }

        &-pagination-bullet {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: none;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");

          &-active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }
  }
}
