@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.celebs {
  &-list {
    display: flex;
    transform: translateX(-245px);
    z-index: 8;
    position: relative;
    margin-bottom: 50px;

    .swiper-slide {
      width: 227px;
    }
  }

  > p {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1050px) {
  .celebs {
    &-list {
      transform: translateX(0);

      .swiper-slide:not(.swiper-slide-active) {
        opacity: 0.3;
        user-select: none;
      }
    }
  }
}
