.container {
  display: flex;
  align-items: center;
  padding-left: 53px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 30px;
  background-image: url(../../../../public/assets/images/celeb_f.svg);
  background-repeat: repeat-x;
  background-size: contain;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  overflow: hidden;
  animation: stripe-animation 4500s linear infinite both;
}

.container.secondary::before {
  background-image: url(../../../../public/assets/images/f.svg);
}

.container.withTitle {
  display: block;
}

.container.withTitle::before {
  display: none;
}

.text {
  margin: 0;

  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.large {
  font-size: 24px;
  line-height: 26px;
}

.title {
  display: block;

  margin-bottom: 16px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 104.4%;
}

.container.withTitle .text {
  opacity: 0.8;

  font-size: 14px;
  line-height: 26px;
}

@keyframes stripe-animation {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100000px 100%;
  }
}
