@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.text-block {
  display: flex;
  align-items: center;
  padding-left: 53px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 37px;
    height: 30px;
    background-image: url('../../../assets/images/celeb_f.svg');
    background-repeat: repeat-x;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    overflow: hidden;
    animation: stripe-animation 4500s linear infinite both;
  }

  &__wrapper {
    display: flex;
    justify-content: center;

    .text-block--secondary {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 930px;
      margin-top: 40px;
      position: relative;
      padding-left: 53px;

      p {
        width: 809px;
        height: 52px;
        @include u.font(
          $family: var(--font-secondary),
          $size: var(--font-size-medium),
          $line-height: var(--font-line-height-large)
        );
      }
    }
  }

  &--secondary {
    &::before {
      background-image: url('../../../assets/images/f.svg');
    }
  }

  &--with-title {
    display: block;

    &::before {
      display: none;
    }

    .text-block__text {
      opacity: 0.8;
      font-size: 14px;
      line-height: 26px;
    }
  }

  &__text {
    margin: 0;
    @include u.font(
      $family: var(--font-secondary),
      $size: var(--font-size-medium),
      $line-height: var(--font-line-height-large)
    );

    &--large {
      width: 310px;
      margin-bottom: 10px;
      margin-top: 10px;
      @include u.font($size: 24px);
    }
  }

  &__title {
    display: block;
    margin-bottom: 16px;
    @include u.font(
      $size: var(--font-size-medium),
      $weight: var(--font-weight-medium)
    );
  }
}

[dir='rtl'] {
  .text-block {
    padding-left: 0;
    padding-right: 53px;

    &::before {
      right: 0;
      left: auto;
    }
  }
}
