@use '../../../assets/styles/utils' as u;

$color-font-hover: linear-gradient(270deg, var(--color-1), var(--color-2));

.nav {
  margin: 0;
  padding: 1rem;
  list-style: none;
  width: fit-content;

  &-item {
    padding: 0.5rem;
    color: var(--base-color);
    @include u.font($size: var(--font-size-small));

    &__title {
      cursor: pointer;
    }

    a {
      position: relative;

      &:hover {
        background: $color-font-hover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &--menu {
      position: relative;
    }

    .chevron {
      transform: rotate(90deg);
    }
  }

  &-submenu {
    position: absolute;
    inset-block-start: 2rem;
    width: max-content;
    padding: 0.5rem !important;
    list-style: none;
    background: var(--main-black);
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    z-index: 10;

    .chevron {
      transform: none;
    }

    & & {
      inset-block-start: 0;
      inset-inline-start: 100%;
    }
  }

  &-megamenu {
    position: absolute;
    inset-block-start: 100%;
    inset-inline: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    background: var(--main-black);
    border-radius: 0 0 8px 8px;
    z-index: 100;
    display: flex;
    gap: 2rem;

    ul {
      padding: 0.5rem;
      margin: initial;
    }

    .chevron {
      transform: none;
    }
  }
}
