@import 'public/styles/utils';

.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    a {
      @include font(Farro, null, null, 14px, 14px, #ffffff);

      position: relative;
      width: max-content;

      &:hover {
        background: linear-gradient(
          270.9deg,
          var(--gradient-color-1) -2.92%,
          var(--gradient-color-2) 99.95%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
