@use '../../../assets/styles/utils' as u;

$color-font-hover: linear-gradient(270deg, var(--color-1), var(--color-2));

.nav {
  margin: 0;
  padding: 1rem;
  list-style: none;
  width: fit-content;
  position: relative;

  &-item {
    padding: 0.5rem;
    color: var(--base-color);
    @include u.font($size: var(--font-size-small));

    &__title {
      cursor: pointer;
    }

    a {
      position: relative;

      &:hover {
        background: $color-font-hover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &--menu {
      position: relative;
    }

    .chevron {
      transform: rotate(90deg);
    }
  }

  %menu {
    position: absolute;
    list-style: none;
    background: var(--main-black);
    border-radius: 0 0 8px 8px;
    display: flex;
    z-index: 10;
    box-sizing: border-box;
    animation: slideDown 0.3s ease-in-out;

    @media screen and (max-width: 1050px) {
      & {
        flex-direction: column;
        position: unset;
        background: none;
        padding: 0.5rem;
        gap: 0;
      }
    }
  }

  &-submenu {
    @extend %menu;

    inset-block-start: 3rem;
    width: max-content;
    padding: 0.5rem;
    flex-direction: column;

    .chevron {
      transform: none;
    }

    & & {
      inset-block-start: 0;
      inset-inline-start: 100%;
      animation: slideRight 0.3s ease-in-out;
    }
  }

  &-megamenu {
    @extend %menu;

    inset-block-start: 100%;
    inset-inline: 0;
    width: 100%;
    padding: 2rem;
    gap: 2rem;

    ul {
      padding: 0.5rem;
      margin: initial;
    }

    .nav-item {
      .chevron {
        display: none;
      }

      &__title {
        padding-inline-start: 0.5rem;
        opacity: 1;
        font-weight: bold;
        color: var(--color-2);
        font-size: calc(var(--font-size-small) * 1.2);
        cursor: default;
      }
    }

    .nav-submenu {
      position: unset;
      padding: 0;
    }

    .chevron {
      transform: none;
    }
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
