@use '../../../assets/styles/utils' as u;

$color-divider: var(--color-base-10);

.stat-element {
  width: 170px;
  flex-basis: 50%;
  position: relative;

  &:nth-child(2n + 1) {
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 136px;
      background: $color-divider;
      position: absolute;
      right: 60px;
      bottom: -16px;

      [dir='rtl'] & {
        width: 277px;
        height: 1px;
        right: auto;
        bottom: -18px;
        left: 165px;
      }
    }
  }

  &:nth-child(2n) {
    &::after {
      content: '';
      display: block;
      width: 277px;
      height: 1px;
      background: $color-divider;
      position: absolute;
      right: 165px;
      bottom: -18px;

      [dir='rtl'] & {
        width: 1px;
        height: 136px;
        right: auto;
        bottom: -16px;
        left: 60px;
      }
    }
  }

  h4 {
    @include u.font($size: var(--font-size-h2));

    margin-bottom: 0;
    padding-left: 30px;
    text-align: left;

    [dir='rtl'] & {
      padding-right: 30px;
      padding-left: 0;
      text-align: right;
    }
  }

  p {
    @include u.font(
      $family: var(--font-secondary),
      $size: var(--font-size-small)
    );

    opacity: 0.8;
    width: auto;
    padding-left: 30px;
    text-align: left;

    [dir='rtl'] & {
      padding-left: 0;
      padding-right: 30px;
      text-align: right;
    }
  }

  svg {
    position: absolute;
    left: 0;
    width: 14px;

    [dir='rtl'] & {
      right: 0;
      left: unset;
    }
  }
}
