@import 'public/styles/utils.scss';
#second {
  position: relative;
  .outer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .inner {
    max-width: 1310px;
    width: 100%;
    padding: 0px 10px;
    z-index: 2;
    position: relative;
  }
  div {
    z-index: 2;
  }
  .row {
    &:nth-child(1) {
      h2 {
        @include font(Farro, normal, 500, 32px, 104.4%, #ffffff);
        text-align: center;
      }
      p {
        @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
        text-align: center;
      }
    }
    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }
  }
  .blocks {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  @import 'advantages-item';
  .divider {
    background: rgba(255, 255, 255, 0.12);
    width: 940px;
    display: block;
    height: 1px;
    margin: 0 auto;
  }
  .row-text {
    display: flex;
    justify-content: center;
  }
  .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 930px;
    margin-top: 40px;
    position: relative;
    padding-left: 53px;
    &::before {
      content: '';
      position: absolute;
      width: 37px;
      height: 30px;
      background-image: url('/assets/images/f.svg');
      background-repeat: x-repeat;
      background-size: contain;
      top: 50%;
      transform: translatey(-50%);
      left: 0;
      overflow: hidden;
      animation: stripe-animation 4500s linear infinite both;
    }
    img {
      width: 37px;
      height: 46px;
      margin-right: 15px;
    }
    p {
      width: 809px;
      height: 52px;
      @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
    }
  }
  .bg1 {
    width: 510px;
    position: absolute;
    left: -150px;
    top: 50px;
    z-index: 0;
  }
  .bg2 {
    width: 605px;
    position: absolute;
    right: -50px;
    top: -70px;
    z-index: 0;
  }
}
.second__background-holder {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 130px;
  pointer-events: none;
}
.second__background-holder--right {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 50px;
  pointer-events: none;
}
