@import 'public/styles/utils';

#second {
  position: relative;

  .outer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .inner {
    max-width: 1310px;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    position: relative;
  }

  div {
    z-index: 2;
  }

  .row {
    &:nth-child(1) {
      h2 {
        @include font(Farro, normal, 500, 32px, 104.4%, #ffffff);

        text-align: center;
      }

      p {
        @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);

        text-align: center;
      }
    }

    &:nth-child(2) {
      display: flex;
      justify-content: center;

      .advantages-item {
        p {
          opacity: 0.8;
        }
      }
    }
  }

  .blocks {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .divider {
    background: rgb(255 255 255 / 12%);
    width: 87.2%;
    max-width: 940px;
    display: block;
    height: 1px;
    margin: 0 auto;
  }

  .row-text {
    display: flex;
    justify-content: center;
  }

  .text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 930px;
    margin-top: 40px;
    position: relative;
    padding-left: 53px;

    &::before {
      content: '';
      position: absolute;
      width: 37px;
      height: 30px;
      background-image: url('/assets/images/f.svg');
      background-repeat: x-repeat;
      background-size: contain;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      overflow: hidden;
      animation: stripe-animation 4500s linear infinite both;
    }

    img {
      width: 37px;
      height: 46px;
      margin-right: 15px;
    }

    p {
      width: 809px;
      height: 52px;
      @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
    }
  }

  .bg1 {
    width: 510px;
    position: absolute;
    left: -150px;
    top: 50px;
    z-index: 0;
  }

  .bg2 {
    width: 605px;
    position: absolute;
    right: -50px;
    top: -70px;
    z-index: 0;
  }
  %background-holder {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }

  .second {
    &__background-holder {
      @extend %background-holder;

      left: 0;
      top: 130px;
    }

    &__background-holder--right {
      @extend %background-holder;

      right: 0;
      top: 50px;
    }
  }
}

[dir='rtl'] {
  #second {
    .divider {
      max-width: 960px;
    }
  }
}
@media screen and (max-width: 1050px) {
  #second {
    .inner {
      max-width: 100vw;
      width: 100vw;
      overflow: hidden;
    }

    .row {
      &:nth-child(1) {
        h2 {
          font-size: 24px;
          width: 290px;
          margin: 0 auto;
        }

        p {
          width: 260px;
          font-size: 16px;
          margin: 0 auto;
          margin-top: 16px;
        }
      }
    }

    .bg2 {
      display: none;
    }

    .bg1 {
      display: none;
    }

    .block {
      width: 215px !important;

      i {
        margin: 0 auto;
      }

      h4 {
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    .blocks {
      width: 275px;
      margin: 0 auto;
      margin-top: 25px;
      display: block;
    }

    .slick-dots {
      position: absolute;
      bottom: 0;
      display: flex !important;
      z-index: 5;
      list-style: none;
      padding-left: 0;
      margin: 16px 0;
      left: calc(50% - 43px);

      button {
        display: block;
        width: 14px;
        height: 14px;
        margin: 0 7px;
        padding: 0;

        &::before {
          display: none;
        }
      }

      li {
        width: 14px;
        height: 14px;

        button {
          &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
          }
        }
      }

      li.slick-active {
        button {
          &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }

    .row-text {
      display: none;
    }

    .divider {
      display: none;
    }

    .text-block {
      &__wrapper {
        padding-left: 10px;
      }

      &__text {
        height: auto;
      }

      &::before {
        top: 10%;
      }
    }
  }
  %display {
    display: none;
  }

  .second {
    &__background-holder {
      @extend %display;

      &--right {
        @extend %display;
      }
    }
  }
}
