@import 'public/styles/utils';

.title-component {
  margin-top: 0;
  margin-bottom: 24px;
  @include font(Farro, normal, normal, 32px, 104.4%, #ffffff);

  text-align: center;
}
@media screen and (max-width: 1050px) {
  .title-component {
    margin-bottom: 16px;
    font-size: 24px;
  }
}
