@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.title-component {
  margin-top: 0;
  margin-bottom: 24px;
  @include u.font($size: v.$font-size-h2);

  text-align: center;
}
@media screen and (max-width: 1050px) {
  .title-component {
    margin-bottom: 16px;
    font-size: 24px;
  }
}
