@import '../../../assets/styles/utils';

%display-flex-align-center {
  display: flex;
  align-items: center;
}

.media {
  &__photo {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 8px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 8px;
    @include font(Farro, null, 500, 24px, 104.4%, #ffffff);
  }

  &__info {
    @extend %display-flex-align-center;

    justify-content: space-between;
    margin-bottom: 24px;

    &__wrapper {
      @extend %display-flex-align-center;
    }

    &__item {
      @extend %display-flex-align-center;

      @include font(Farro, null, null, 14px, 14px, #ffffff);

      &:not(:last-child) {
        margin-right: 20px;
      }

      & > img {
        display: block;
        margin-right: 8px;
      }
    }

    &__edit {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__created {
    display: block;
    position: relative;
    margin-bottom: 66px;
    color: rgb(255 255 255 / 30%);
    @include font(Farro, null, null, 14px, 14px, null);

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -32px;
      left: 0;
      height: 1px;
      background-color: rgb(255 255 255 / 7%);
    }
  }

  &__about {
    position: relative;
    margin-bottom: 60px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -32px;
      left: 0;
      height: 1px;
      background-color: rgb(255 255 255 / 7%);
    }

    &__title {
      display: block;
      margin-bottom: 14px;
      @include font(Farro, null, null, 16px, 16px, #ffffff);
    }

    &__link {
      @extend %display-flex-align-center;

      @include font(Farro, null, null, 14px, 14px, #ffffff);

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      & > img {
        display: block;
        margin-right: 8px;
      }
    }
  }

  &__meta {
    margin-bottom: 36px;

    &__title {
      display: block;
      margin-bottom: 16px;
      @include font(Farro, null, null, 16px, 16px, #ffffff);
    }

    &__descr {
      @include font(Farro, null, null, 14px, 14px, #ffffff);
    }

    &__content {
      color: transparent;
      @include font(Farro, null, null, 14px, 14px, null);

      &--shortcode {
        background: linear-gradient(46.96deg, #cc16ff 20.56%, #48f573 82.71%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &--url {
        background: linear-gradient(270.9deg, #ef7188 -2.92%, #ffa34e 99.95%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &__item {
      @extend %display-flex-align-center;

      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
