.media {
  &__photo {
    display: block;

    width: 100%;
    margin-bottom: 24px;

    border-radius: 8px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 8px;

    color: #FFFFFF;
    font-family: Farro, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 104.4%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__item {
      display: flex;
      align-items: center;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 14px;
      line-height: 14px;

      &:not(:last-child) {
        margin-right: 20px;
      }

      & > img {
        display: block;

        margin-right: 8px;
      }
    }

    &__edit {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  &__created {
    display: block;

    position: relative;

    margin-bottom: 66px;

    color: rgba(255, 255, 255, 0.3);
    font-family: Farro, sans-serif;
    font-size: 14px;
    line-height: 14px;

    &::after {
      content: '';

      position: absolute;
      right: 0;
      bottom: -32px;
      left: 0;

      height: 1px;

      background-color: rgba(255, 255, 255, 0.07);
    }
  }

  &__about {
    position: relative;

    margin-bottom: 60px;

    &::after {
      content: '';

      position: absolute;
      right: 0;
      bottom: -32px;
      left: 0;

      height: 1px;

      background-color: rgba(255, 255, 255, 0.07);
    }

    &__title {
      display: block;

      margin-bottom: 14px;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 16px;
      line-height: 16px;
    }

    &__link {
      display: flex;
      align-items: center;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 14px;
      line-height: 14px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      & > img {
        display: block;

        margin-right: 8px;
      }
    }
  }

  &__meta {
    margin-bottom: 36px;

    &__title {
      display: block;
      margin-bottom: 16px;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 16px;
      line-height: 16px;
    }

    &__descr {
      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 14px;
      line-height: 14px;
    }

    &__content {
      color: transparent;
      font-family: Farro, sans-serif;
      font-size: 14px;
      line-height: 14px;

      &--shortcode {
        background: linear-gradient(46.96deg, #CC16FF 20.56%, #48F573 82.71%);
        background-clip: text;
        -webkit-background-clip: text;
      }

      &--url {
        background: linear-gradient(270.9deg, #EF7188 -2.92%, #FFA34E 99.95%);
        background-clip: text;
        -webkit-background-clip: text;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }
}
