@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.fan-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 32px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -16px;
      left: 0;
      height: 1px;
      background-color: rgb(255 255 255 / 7%);
    }
  }

  &__photo {
    border-radius: 8px;
  }

  &__wrapper:not(:last-child) {
    margin-right: 20px;
  }

  &__name {
    display: block;
    margin-bottom: 8px;
    @include u.font($size: v.$font-size-small);
  }

  &__descr {
    display: block;
    margin-bottom: 8px;
    opacity: 0.4;
    @include u.font($size: 12px);
  }

  &__viewers {
    display: flex;
    align-items: center;
    @include u.font($size: v.$font-size-small);

    & > img {
      display: block;
      margin-right: 8px;
    }
  }
}

@media (min-width: 1050px) {
  .fan-item {
    &:not(:last-child) {
      margin-bottom: 48px;

      &::after {
        bottom: -24px;
      }
    }
  }
}
