@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

$color-divider: var(--color-base-10);

.fan-item {
  display: flex;
  position: relative;
  gap: 20px;

  &:not(:last-child) {
    margin-bottom: 32px;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -16px;
      left: 0;
      height: 1px;
      background-color: $color-divider;
    }
  }

  &__photo {
    border-radius: 8px;
  }

  &__wrapper:not(:last-child) {
  }

  &__name {
    display: block;
    margin-bottom: 8px;
    @include u.font($size: var(--font-size-small));
  }

  &__descr {
    display: block;
    margin-bottom: 8px;
    opacity: 0.4;
    @include u.font($size: 12px);
  }

  &__viewers {
    display: flex;
    align-items: center;
    gap: 8px;
    @include u.font($size: var(--font-size-small));

    & > img {
      display: block;
    }
  }
}

@media (min-width: 1050px) {
  .fan-item {
    &:not(:last-child) {
      &::after {
        bottom: -24px;
      }
    }
  }
}
