#nine {
  .outer {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
  }
  .inner {
    max-width: 1360px;
    width: 100%;
    padding: 0px 10px;
    position: relative;
    padding-top: 185px;
    padding-bottom: 130px;
  }
  .row {
    &:nth-child(1) {
      h2 {
        font-family: Farro;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 104.4%;
        text-align: center;
        color: #ffffff;
        z-index: 1;
        position: relative;
        margin: 0px;
      }
    }
  }
  .team {
    .item {
      width: 210px;
      img {
        clip-path: url(#imagePath);
        width: 211px;
        height: 191px;
        object-fit: cover;
        border-radius: 8px;
      }
      p {
        font-family: Farro;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        margin-bottom: 0px;
        text-align: left;
      }
      span {
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        opacity: 0.4;
        text-align: left;
        display: block;
      }
    }
  }
  .team-list {
    width: 925px;
    margin: 0 auto;
    position: relative;
    margin-top: 55px;
    z-index: 2;
  }
  .prev {
    width: 75px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    transform: rotate(180deg);
    left: -120px;
    top: -40px;
    &:hover {
      transform: rotate(180deg) scale(1.02);
      filter: brightness(0.9);
      transition: all 0.3s;
    }
  }
  .next {
    width: 75px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
    right: -100px;
    top: -40px;
    &:hover {
      transform: rotate(0) scale(1.02);
      filter: brightness(0.9);
      transition: all 0.3s;
    }
  }
  .figure {
    width: 100%;
    height: 665px;
    position: absolute;
    left: 0px;
    z-index: 0;
    top: 0px;
    object-fit: contain;
    transition: all 0.3s;
  }
  .all {
    display: none;
  }
  .ThisId {
    animation: slideIn 1s ease-in-out;
  }
}
[dir='rtl'] {
  #nine {
    .prev {
      left: auto;
      right: -90px;
      transform: none;
      &:hover {
        transform: scale(1.02);
      }
    }
    .next {
      right: auto;
      left: -100px;
      transform: rotate(180deg);
      &:hover {
        transform: rotate(180deg) scale(1.02);
      }
    }
  }
}
