@import '../../../assets/styles/utils';

#army {
  background: var(--second-black);

  .outer {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
  }

  .inner {
    max-width: 1360px;
    width: 100%;
    padding: 0 10px;
    position: relative;
    padding-top: 185px;
    padding-bottom: 130px;
  }

  .row {
    &:nth-child(1) {
      h2 {
        text-align: center;
        z-index: 1;
        position: relative;
      }
    }
  }

  .team-list {
    width: 925px;
    margin: 0 auto;
    position: relative;
    margin-top: 55px;
    z-index: 2;
  }

  %position {
    top: -40px;
    width: 75px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
  }

  .prev {
    @extend %position;

    left: 0;

    &:hover {
      opacity: 1;
    }
  }

  .next {
    @extend %position;

    right: 0;

    &:hover {
      opacity: 1;
    }
  }

  %swiper {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
    z-index: 5;
  }

  .swiper {
    width: 925px;
    margin: 0 auto;
    position: relative;
    margin-top: 55px;
    z-index: 2;

    &-slide {
      width: auto;
    }

    &-pagination-teamlist {
      display: none;
    }

    &-prev-teamlist {
      @extend %swiper;

      left: -90px;

      [dir='rtl'] & {
        right: -90px;
        left: auto;
      }
    }

    &-next-teamlist {
      @extend %swiper;

      right: -100px;

      [dir='rtl'] & {
        right: auto;
        left: -100px;
      }
    }

    &-button-disabled {
      opacity: 0.4;
      user-select: none;
      pointer-events: none;
    }
  }

  .title-component {
    margin-bottom: 40px;
  }

  .figure {
    width: 100%;
    height: 665px;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 0;
    object-fit: contain;
    transition: all 0.3s;
  }

  .all {
    display: none;
  }

  .ThisId {
    animation: slide-in 1s ease-in-out;
  }
}

@media screen and (max-width: 1050px) {
  #army {
    .team-list {
      width: 100%;
      margin: 0 auto;
      transition: all 0.3s;
    }

    .content {
      margin-bottom: 100px;
    }

    .swiper {
      width: 100%;

      &-next-teamlist,
      &-prev-teamlist {
        display: none;
      }

      &-pagination {
        &-teamlist {
          position: absolute;
          bottom: -60px;
          display: unset;
          z-index: 5;
        }

        &-bullet {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: none;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");

          &-active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }

    .figure {
      z-index: 0;
      top: 0;
      width: 97%;
      height: max-content;
      position: absolute;
      left: 2%;
      object-fit: contain;
      transform: scaleY(3.4);
      transform-origin: top;
    }

    .inner {
      max-width: 100vw;
      padding-top: 80px;
      padding-bottom: 0;
    }

    .row {
      &:nth-child(1) {
        h2 {
          margin-bottom: 30px;
        }
      }
    }

    .tabs {
      &-list {
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }

    .team {
      .item {
        img {
          width: 210px;
        }
      }
    }
  }
}
