@import 'public/styles/utils';

.item {
  width: 210px;

  img {
    clip-path: url(#imagePath);
    width: 211px;
    height: 191px;
    object-fit: cover;
    border-radius: 8px;
  }

  p {
    @include font(Farro, normal, normal, 16px, 26px, #ffffff);

    margin-bottom: 0;
    text-align: left;
  }

  span {
    @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);

    opacity: 0.4;
    text-align: left;
    display: block;
  }
}
