@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

#how-it-works {
  padding-top: 150px;
  background: url('/src/assets/images/four-background.svg'), var(--second-black);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 22%;

  .outer {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
  }

  .inner {
    max-width: 1310px;
    width: 100%;
    padding: 0 10px;
    position: relative;
  }

  .row:nth-child(1) {
    .blur {
      background: var(--blur);
      filter: blur(200px);
      z-index: 0;
      position: absolute;
      width: 300px;
      height: 250px;
      top: -30px;
      left: calc(50% - 150px);
      transition: 0.6s;
    }

    h2 {
      @include u.font($size: v.$font-size-h2);

      text-align: center;
      z-index: 1;
      position: relative;
    }

    .title-component {
      margin-bottom: 56px;
    }
  }

  .blocks {
    display: flex;
    justify-content: space-between;
    width: 1053px;
  }

  .blocks.mob {
    display: none;
  }

  .blocks.pc {
    display: flex;
    position: relative;
    z-index: 3;
  }

  .divider-dashed {
    width: 72px;
    border-bottom: 2px dashed #ffa34e;
    margin-bottom: auto;
    margin-top: 70px;
    overflow: hidden;
    display: none;
  }

  .bg {
    width: 1170px;
    position: absolute;
    top: -50px;
    left: calc(50% - 570px);
    z-index: 0;
  }

  .how-it-works-list {
    margin: 0 auto;
    margin-top: 50px;
  }

  .swiper {
    display: flex;
    justify-content: space-between;
    width: 1053px;
    margin: 0 auto;
    margin-top: 50px;

    &-slide {
      width: auto;
      padding-top: 7px;

      &::after {
        content: '';
        position: absolute;
        background-image: url('/src/assets/images/dash.svg');
        background-repeat: repeat-x;
        width: 60px;
        height: 5px;
        z-index: 5;
        right: -30px;
        top: 65px;
        animation: stripe-animation 4500s linear infinite both;

        [dir='rtl'] & {
          left: -30px;
          right: auto;
          animation-direction: reverse;
        }
      }

      &:last-child::after {
        display: none;
      }
    }

    &-pagination-howitworks {
      display: none;
    }
  }
}
@media screen and (max-width: 1050px) {
  #how-it-works {
    background: var(--second-black);
    padding-top: 65px;

    .blocks.mob {
      display: block;
    }

    .blocks.pc {
      display: none;
    }

    .how-it-works-list {
      position: relative;
      padding: 20px 0;
      margin: 40px auto;
    }

    .swiper {
      width: 100%;

      &-pagination {
        &-howitworks {
          position: absolute;
          bottom: -30px;
          display: unset;
          z-index: 5;
        }

        &-bullet {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: none;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");

          &-active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
          }
        }
      }
    }

    .row {
      &:nth-child(1) {
        .blur {
          background: var(--blur);
          filter: blur(100px);
          z-index: 0;
          position: absolute;
          width: 300px;
          height: 110px;
          top: 180px;
          left: calc(50% - 150px);
          transition: 0.6s;
          opacity: 0.5;
        }

        .title-component {
          margin-bottom: 44px;
        }
      }
    }

    .bg {
      width: 1170px;
      position: absolute;
      top: -50px;
      left: calc(50% - 570px);
      z-index: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  .text-block--mobile-column {
    padding-left: 0;
    padding-top: 40px;

    &::before {
      top: 0;
      transform: none;
    }
  }
}
