@use '../../../assets/styles/utils' as u;

$color-divider: var(--color-base-10);

.stat-element {
  width: min-content;
  position: relative;
  padding: 1rem;

  .title {
    display: flex;
    place-items: center;
    gap: 1rem;
  }

  &:nth-child(odd) {
    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: $color-divider;
      position: absolute;
      inset-inline-end: 0;
      inset-block-end: 0;
    }
  }

  &:nth-child(even) {
    &::after {
      content: '';
      display: block;
      width: 200%;
      height: 1px;
      background: $color-divider;
      position: absolute;
      inset-inline-end: 0;
      inset-block-end: 0;
    }
  }

  h4 {
    @include u.font($size: var(--font-size-h2));

    margin: 0;
  }

  p {
    @include u.font(
      $family: var(--font-secondary),
      $size: var(--font-size-small)
    );

    opacity: 0.8;
    max-width: 15ch;
  }
}
