.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  place-items: center;

  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
