@import '../../../assets/styles/utils';

.button {
  button {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 48px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(255 255 255 / 10%);
    transition: 0.2s ease;

    span {
      @include font(Farro, normal, 500, 16px, 16px, #ffffff);

      display: flex;
      align-items: center;
      text-transform: capitalize;
      white-space: nowrap;
      z-index: 3;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

    &:hover:not(:disabled) {
      background-color: rgb(255 255 255 / 20%);
    }
  }

  &--fill {
    button {
      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.6s;
        z-index: 2;
      }

      &::before {
        background: linear-gradient(
          270.9deg,
          var(--gradient-color-1) -2.92%,
          var(--gradient-color-2) 99.95%
        );
        opacity: 1;
      }

      &::after {
        background: linear-gradient(
          71.22deg,
          var(--gradient-color-3) 11.83%,
          var(--gradient-color-4) 95.13%
        );
        opacity: 0;
      }

      &:hover:not(:disabled) {
        background-color: inherit;
      }

      &:hover:not([data-disabled='true'])::after,
      &:hover:not(:disabled)::after {
        opacity: 1;
      }

      &:hover:not([data-disabled='true'])::before,
      &:hover:not(:disabled)::before {
        opacity: 0;
      }
    }
  }

  &--stroke {
    position: relative;
    background: var(--main-bg-color);
    border-radius: 10px;
    width: 184px;
    height: 56px;

    button {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: inherit;
      border-radius: 10px;

      &:hover:not(:disabled) {
        background-color: inherit;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      z-index: -1;
      border-radius: 10px;
      transition: 0.6s;
    }

    &::before {
      background: linear-gradient(
        90deg,
        var(--gradient-color-2),
        var(--gradient-color-4)
      );
      opacity: 1;
    }

    &::after {
      background: linear-gradient(
        90deg,
        var(--gradient-color-3),
        var(--gradient-color-2)
      );
      opacity: 0;
    }

    &:hover:not([data-disabled='true'])::after,
    &:hover:not(:disabled)::after {
      opacity: 1;
    }

    &:hover:not([data-disabled='true'])::before,
    &:hover:not(:disabled)::before {
      opacity: 0;
    }
  }

  &__group {
    .button {
      &--fill {
        button {
          width: 219px;
          height: 56px;
          padding: inherit;
        }
      }

      &--stroke {
        margin-left: 30px;

        span {
          font-family: 'Anonymous Pro';
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .button {
    &__group {
      .button {
        &--fill {
          button {
            width: 150px;
          }
        }
      }
    }

    &--stroke {
      min-width: 140px;
      width: 140px;
      background: #0f0d67;
    }
  }
}
