
.card.DoubleBgCard {
  position: relative;
  width: 303px;
  height: 340px;

  .cardBg1 {
    position: absolute;
    width: 256px;
    height: 328px;
    padding: 16px;
    z-index: 1;
    right: 0;
    bottom: 0;
    .button-fill button {
      padding: 0 ;
      width: 100%;
      min-height: 32px;
      backdrop-filter: blur(94px);
      border-radius: 4px;
      &:before, &:after{
        border-radius: 4px;
      }
    }
    .button-fill button span{
      font-size: 14px;
      font-weight: 400;
    }
  }

  .cardBg2 {
    position: absolute;
    width: 230px;
    height: calc(100% - 3px);
    left: 35px;
    top: 0;
    background: linear-gradient(270.9deg, #CE09FF -2.92%, #FFA34E 99.95%);;
    border-radius: 8px;
  }

  .cardFlag {
    position: absolute;
    bottom: 24px;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(64px);
    border-radius: 16px;
    padding-left: 25px;
    padding-top: 16px;
    z-index: 10;
    min-height: 71px;
    min-width: 171px;

    &Title {
      font-family: 'Anonymous Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;

      margin-bottom: 5px;
    }

    &SubTitle {
      font-family: 'Anonymous Pro';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      opacity: 0.3;
    }
  }
}