@import '../../../assets/styles/utils';

.user-card {
  &__photo {
    margin-bottom: 24px;

    &__mask {
      width: 131px;
      height: 147px;
    }

    &__img {
      position: absolute;
      top: 11px;
      left: 9px;
      width: 112px;
      height: 125px;
      clip-path: polygon(
        50% 0,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        50% 100%,
        0 75%,
        0 25%
      );
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      & > div {
        position: relative;
      }
    }

    &__short-link {
      display: block;
      margin-bottom: 8px;
      @include font(Farro, null, 500, 20px, 10px, #ffffff);

      text-align: center;
    }

    &__created {
      display: block;
      color: rgb(255 255 255 / 30%);
      @include font(Farro, null, null, 14px, 14px, null);

      text-align: center;
    }
  }

  &__addresses {
    margin-bottom: 32px;

    &__title {
      display: block;
      margin-bottom: 16px;
      @include font(Roboto Condensed, null, null, 16px, 26px, #ffffff);
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;
      background-color: #040d5b;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__address {
      @include font(Farro, null, null, 14px, 14px, #ffffff);
    }

    &__coins {
      display: flex;
      align-items: center;
      @include font(Farro, null, null, 14px, 14px, #ffffff);

      & > img {
        display: block;
        margin-right: 8px;
      }
    }
  }

  &__info {
    &__title {
      display: block;
      margin-bottom: 16px;
      @include font(Roboto Condensed, null, null, 16px, 26px, #ffffff);
    }

    &__content {
      padding: 22px 16px;
      background-color: #281981;
      border-radius: 8px;
    }

    &__item {
      @include font(Roboto Condensed, null, null, 16px, 26px, #ffffff);

      &__title {
        opacity: 0.4;
      }
    }
  }
}

@media (min-width: 1050px) {
  .user-card {
    display: flex;

    &__wrapper {
      &:first-child {
        margin-right: 60px;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
