@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

$color-font-timestamp: var(--color-base-20);
$color-background-info: var(--light-bg);

.user-card {
  &__photo {
    margin-bottom: 24px;

    &__mask {
      width: 131px;
      height: 147px;
    }

    &__img {
      position: absolute;
      top: 11px;
      left: 9px;
      width: 112px;
      height: 125px;
      clip-path: polygon(
        50% 0,
        50% 0,
        100% 25%,
        100% 75%,
        50% 100%,
        50% 100%,
        0 75%,
        0 25%
      );
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;

      & > div {
        position: relative;
      }
    }

    &__short-link {
      display: block;
      margin-bottom: 8px;
      @include u.font(
        $size: 20px,
        $weight: v.$font-weight-medium,
        $line-height: 10px
      );

      text-align: center;
    }

    &__created {
      display: block;

      @include u.font($size: v.$font-size-small, $color: $color-font-timestamp);

      text-align: center;
    }
  }

  &__addresses {
    margin-bottom: 32px;

    &__title {
      display: block;
      margin-bottom: 16px;
      @include u.font(
        $family: v.$font-secondary,
        $size: v.$font-size-medium,
        $line-height: v.$font-line-height-large
      );
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 16px;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__address {
      @include u.font($size: v.$font-size-small);
    }

    &__coins {
      display: flex;
      align-items: center;
      @include u.font($size: v.$font-size-small);

      & > img {
        display: block;
        margin-right: 8px;
      }
    }
  }

  &__info {
    &__title {
      display: block;
      margin-bottom: 16px;
      @include u.font(
        $family: v.$font-secondary,
        $size: v.$font-size-medium,
        $line-height: v.$font-line-height-large
      );
    }

    &__content {
      padding: 22px 16px;
      background-color: $color-background-info;
      border-radius: 8px;
    }

    &__item {
      @include u.font(
        $family: v.$font-secondary,
        $size: v.$font-size-medium,
        $line-height: v.$font-line-height-large
      );

      &__title {
        opacity: 0.4;
      }
    }
  }
}

@media (min-width: 1050px) {
  .user-card {
    display: flex;

    &__wrapper {
      &:first-child {
        margin-right: 60px;
      }

      &:last-child {
        flex-grow: 1;
      }
    }
  }
}
