@import '../../../assets/styles/utils';

#partners {
  background: var(--second-black);

  .outer {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
  }

  .inner {
    max-width: 1360px;
    width: 100%;
    padding: 0 10px;
    position: relative;
    padding-bottom: 130px;

    .logo_bg2 {
      position: absolute;
      left: -154px;
      top: -484px;
      width: 390px;
    }
  }

  .row {
    &:nth-child(1) {
      h2 {
        @include font(Farro, normal, normal, 32px, 104.4%, #ffffff);

        text-align: center;
        z-index: 1;
        position: relative;
        margin: 0;
      }
    }
  }

  .buttons-field {
    width: 630px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 55px;
  }

  .button {
    a {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 56px;
      border-radius: 8px;
      text-decoration: none;
      background: rgb(255 255 255 / 10%);
      transition: 0.6s;

      span {
        @include font(Farro, normal, 500, 16px, 16px, #ffffff);

        display: flex;
        align-items: center;
        text-transform: capitalize;
        z-index: 3;
      }

      &:hover {
        background: rgb(255 255 255 / 19%);
      }
    }
  }

  .item {
    .block {
      height: 111px;
      background: rgb(255 255 255 / 14%);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        filter: brightness(0) invert(1);
      }
    }
  }

  .partners-block {
    width: 930px;
    margin: 0 auto;
    position: relative;
    margin-top: 55px;
  }
  %position {
    top: -40px;
    width: 75px;
    height: 85px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .prev {
    @extend %position;

    right: 14px;
    transform: rotate(180deg);

    &:hover {
      transform: rotate(180deg) scale(1.02);
    }
  }

  .next {
    @extend %position;

    left: 14px;

    &:hover {
      transform: rotate(0) scale(1.02);
    }
  }
  %swiper {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-prev {
    left: -25px;
    @extend %swiper;
  }

  [dir='rtl'] .swiper-prev {
    right: -25px;
    left: auto;
  }

  .swiper-next {
    right: -25px;
    @extend %swiper;
  }

  [dir='rtl'] .swiper-next {
    right: auto;
    left: -25px;
  }
}

[dir='rtl'] {
  #partners {
    .buttons-field {
      flex-direction: row-reverse;

      > &__wrapper {
        flex-direction: row-reverse;
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  #partners {
    padding-top: 60px;

    .row {
      &:nth-child(1) {
        h2 {
          font-size: 24px;
        }
      }
    }

    .inner {
      width: 295px;
      margin: 0 auto;
      padding-bottom: 60px;

      .logo_bg2 {
        display: none;
      }
    }

    .partners-block {
      width: 295px;
    }

    .buttons-field {
      width: 290px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 80px;

      &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .button {
          button {
            width: 140px;
          }

          span {
            white-space: nowrap;
          }

          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }

    .button {
      &--fill {
        width: 290px;
        margin-bottom: 12px;

        button {
          width: 100% !important;
        }
      }

      button {
        width: 140px;
        margin-top: 10px;
      }
    }

    .swiper-next,
    .swiper-prev {
      display: none;
    }

    .swiper-pagination {
      position: absolute;
      bottom: -25px;
      display: flex !important;
      justify-content: center;
      z-index: 5;
      list-style: none;

      .swiper-pagination-bullet {
        display: block;
        width: 14px;
        height: 14px;
        background: none;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");

        &-active {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }
}
