/* style.css */

* {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--main-bg-color);
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

body.noscroll {
  overflow: hidden;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.skip-link.screen-reader-text {
  display: none;
}

/* .p1{
	position: absolute;
	max-width: 318px;
	top: 0px;
	left: 200px;
	transition: 0.3s;
	z-index: 0;
	display: block;
} */

/* .p1div,
.p2div {
	position: relative;
	z-index: 1;
	transition: all .3s;
} */

.title__wrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  background: rgba(255, 255, 255, 0.12);
  width: 100%;
  display: block;
  height: 1px;
  margin: 0 auto;
}

.diesel__image--1 {
}

.p10div {
  position: relative;
  background: linear-gradient(180deg, #22059b 0%, rgba(37, 11, 113, 0) 100%);
  backdrop-filter: blur(49px);
  width: 270px;
  height: 537px;
  border-radius: 8px;
}

.diesel__image--2 {
  position: absolute;
  top: 180px;
  right: -200px;
}

.p11div {
  background: linear-gradient(180deg, #190a57 0%, #030c5d 100%);
  backdrop-filter: blur(84px);
  width: 270px;
  height: 428px;
  border-radius: 8px;
  position: relative;
}

.diesel-right-photo {
  position: absolute;
  top: -70px;
  left: 60px;
}

.diesel-right-name {
  position: absolute;
  top: 142px;
  left: 24px;
}

.diesel-right-title {
  position: absolute;
  top: 205px;
  left: 26px;
}

.diesel-right-bubles {
  position: absolute;
  top: 273px;
  left: 26px;
}

.diesel-right-numbers {
  position: absolute;
  top: 318px;
  left: 24px;
}

.diesel-left-photo {
  position: absolute;
  top: 0;
  left: 0;
}

.diesel-left-social {
  position: absolute;
  top: 238px;
  left: 24px;
  z-index: 2;
}

.diesel-left-titles {
  position: absolute;
  top: 312px;
  left: -40px;
}

.diesel-left-figure {
  position: absolute;
  top: 415px;
  left: 24px;
}

/* #three .slide img {
    width: 490px;
    margin-right: 125px;
	transition: all .3s;
} */

#eight,
#nine {
  background: var(--second-black);
}

.line .progress.purple {
  background: linear-gradient(
    270.9deg,
    var(--gradient-color-1),
    50.08%,
    var(--gradient-color-2) 99.95%
  );
}

.line .progress.green {
  background: linear-gradient(
    270.9deg,
    var(--gradient-color-4),
    50.08%,
    var(--gradient-color-3) 99.95%
  );
}

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}

#svg #bar,
#svg #bar1,
#svg #bar2,
#svg #bar3,
#svg #bar4,
#svg #bar5,
#svg .bar {
  stroke-linecap: round;
  stroke: url(#MyGradient);
}

#svg #bar6 {
  stroke-linecap: round;
  stroke: url(#MyGradient1);
}

#svg #bar7 {
  stroke-linecap: round;
  stroke: url(#MyGradient2);
}

#svg #bar8 {
  stroke-linecap: round;
  stroke: url(#MyGradient3);
}

#svg #bar9 {
  stroke-linecap: round;
  stroke: url(#MyGradient4);
}

#svg #bar10 {
  stroke-linecap: round;
  stroke: url(#MyGradient5);
}

#svg #back {
  stroke-width: 0.6em;
}
#cont {
  display: block;
  margin: 2em auto;
  border-radius: 100%;
  position: absolute;
  left: -52px;
  top: -41px;
  transform: scale(0.75);
  transform-origin: left top;
}
.header-inner .col .sign-up a {
  display: none;
}

.slick-arrow.slick-disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  border-color: transparent;
  position: absolute;
  bottom: 7px;
  width: 300px;
  height: 20px;
  margin: 0px;
  color: white;
  z-index: 3;
  font-family: 'Anonymous Pro';
  font-size: 12px;
  margin-left: -10px;
}

.slick-arrow::before {
  display: none;
}

.input__label {
  display: block;
  margin-bottom: 14px;

  color: #ffffff;
  font-family: Farro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
}

.input__control {
  width: 100%;
  padding-bottom: 10px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);

  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.input__wrapper {
  display: flex;

  width: 100%;
}

.input__wrapper > button {
  display: flex;
  align-items: flex-start;

  padding: 0;
  margin-left: -30px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

[dir='rtl'] .input__wrapper > button {
  margin-right: -30px;
  margin-left: 0;
}

[dir='rtl'] .input__wrapper > button > img {
  transform: rotate(180deg);
}

.input__wrapper > button > img {
  width: 24px;
}

.input__wrapper > button:hover {
  filter: hue-rotate(-40deg);
  transform: scale(1.02);
}
