@import "./variables.css";
@import "./fonts.css";
@import "./styles.imported.css";
@import "./styles-adaptive.imported.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: 'Farro', 'Roboto Condensed', 'Roboto', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-arrow::before {
  display: none;
}

.info-block {
  display: flex;

  padding: 20px 24px;

  background-color: var(--light-bg);
  background-image: url(../assets/images/bgbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.info-block > .info-block__column > p {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 32px;

  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 26px;
}

.info-block--large {
  padding: 24px 48px;
}

.info-block--large > .info-block__column > p {
  font-size: 24px;
  line-height: 26px;
}

.info-block__column {
  display: flex;
  align-items: center;

  width: 50%;
}

.text-block {
  display: flex;
  align-items: center;
  padding-left: 53px;
  position: relative;
}

.text-block::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 30px;
  background-image: url(../assets/images/celeb_f.svg);
  background-repeat: repeat-x;
  background-size: contain;
  top: 50%;
  transform: translatey(-50%);
  left: 0;
  overflow: hidden;
  animation: stripe-animation 4500s linear infinite both;
}

.text-block.text-block--secondary::before {
  background-image: url(../assets/images/f.svg);
}

.text-block.text-block--with-title {
  display: block;
}

.text-block.text-block--with-title::before {
  display: none;
}

.text-block__text {
  margin: 0;

  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.text-block__text--large {
  font-size: 24px;
  line-height: 26px;
}

.text-block__title {
  display: block;

  margin-bottom: 16px;

  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 104.4%;
}

.text-block.text-block--with-title .text-block__text {
  opacity: 0.8;

  font-size: 14px;
  line-height: 26px;
}

@keyframes stripe-animation {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100000px 100%;
  }
}

@media (max-width: 1050px) {
  .info-block {
    flex-direction: column;
    background-image: none;
  }

  .info-block__column {
    width: 100%;
  }
}
