.creator-news-card {
  display: flex;

  background: #281981;
  border-radius: 10px;

  &__photo {
    &__wrapper {
      order: 2;

      position: relative;

      width: 40%;

      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0 10px 10px 0;
    }

    &__share {
      position: absolute;
      top: 16px;
      right: 16px;

      width: 40px;
      height: 40px;
      padding: 0;

      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(34px);
      border: none;
      border-radius: 100px;
      cursor: pointer;
    }
  }

  &__content {
    order: 1;

    width: 60%;
    padding: 16px;

    &__tag {
      background: linear-gradient(270.9deg, #EF7188 -2.92%, #FFA34E 99.95%);
      background-clip: text;
      -webkit-background-clip: text;

      color: transparent;
      font-family: Roboto Condensed, sans-serif;
      font-size: 14px;
      line-height: 26px;

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 8px;
      }

      &__created {
        display: none;

        color: rgba(255, 255, 255, 0.2);
        font-family: Farro, sans-serif;
        font-size: 12px;
        line-height: 12px;
      }
    }

    &__title {
      display: block;

      margin-bottom: 20px;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 16px;
      line-height: 16px;
    }

    &__descr {
      display: none;

      margin: 0;

      color: rgba(255, 255, 255, 0.5);
      font-family: Roboto Condensed, sans-serif;
      font-size: 14px;
      line-height: 20px;
    }

    &__created {
      color: rgba(255, 255, 255, 0.2);
      font-family: Farro, sans-serif;
      font-size: 12px;
      line-height: 12px;
    }
  }

  &--main {
    display: block;

    & .creator-news-card {
      &__photo__wrapper {
        width: 100%;
        height: 200px;

        border-radius: 10px 10px 0 0;
      }

      &__content {
        width: auto;

        &__tag__wrapper {
          margin-bottom: 4px;
        }

        &__tag__created {
          display: block;
        }

        &__title {
          margin-bottom: 12px;
        }

        &__descr {
          display: block;
        }

        &__created {
          display: none;
        }
      }
    }
  }
}

.user-info {
  display: flex;
  align-items: center;

  &__photo {
    display: block;

    position: absolute;
    top: 6px;
    left: 5px;

    width: 64px;
    height: 71px;

    clip-path: polygon(50% 0, 50% 0, 100% 25%, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 25%);

    &__wrapper {
      margin-right: 26px;

      position: relative;
    }
  }

  &__content {
    &__name {
      display: block;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 16px;
      line-height: 16px;
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__info {
      display: flex;
      align-items: center;

      position: relative;

      color: #FFFFFF;
      font-family: Farro, sans-serif;
      font-size: 14px;
      line-height: 14px;

      &:not(:last-child) {
        margin-right: 16px;

        &::after {
          content: '';

          width: 1px;

          position: absolute;
          top: 0;
          bottom: 0;
          right: -8px;

          background: #3A3086;
          border-radius: 4px;
        }
      }

      & > img {
        display: block;

        margin-right: 4px;
      }
    }
  }
}

.faq-item {
  position: relative;

  background-color: #281981;
  border-radius: 8px;
  
  &::after {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    background: linear-gradient(270.9deg, #CE09FF -2.92%, #FFA34E 99.95%);
    border-radius: 8px;
    opacity: 0;

    transition: 0.3s ease;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 1;

    width: 100%;
    padding: 11px 8px 11px 16px;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__arrow {
    transition: 0.3s ease;
  }

  &__title {
    color: #FFFFFF;
    font-family: Farro, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 104.4%;
  }

  &__content {
    position: relative;
    z-index: 1;

    max-height: 0;
    padding: 0 50px 0 16px;

    overflow: hidden;

    transition: 0.3s ease;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 1px;

      background-color: rgba(255, 255, 255, 0.2);
    }

    &__descr {
      color: #FFFFFF;
      font-family: Roboto Condensed, sans-serif;
      font-size: 14px;
      line-height: 26px;
    }
  }

  &--opened {
    &::after {
      opacity: 1;
    }

    & .faq-item {
      &__arrow {
        transform: rotate(-90deg);
      }

      &__content {
        max-height: 1000px;
        padding: 22px 50px 22px 16px;
      }
    }
  }
}
