/* style.css */

* {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--main-bg-color);
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

body.noscroll {
  overflow: hidden;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.skip-link.screen-reader-text {
  display: none;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(300deg) contrast(100%);
  }
  25% {
    filter: hue-rotate(350deg) contrast(100%);
  }
  50% {
    filter: hue-rotate(300deg) contrast(100%);
  }
  75% {
    filter: hue-rotate(350deg) contrast(100%) invert(10%);
  }
  100% {
    filter: hue-rotate(300deg) contrast(100%);
  }
}

/* .p1{
	position: absolute;
	max-width: 318px;
	top: 0px;
	left: 200px;
	transition: 0.3s;
	z-index: 0;
	display: block;
} */

@-webkit-keyframes hero-before {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes hero-before {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* .p1div,
.p2div {
	position: relative;
	z-index: 1;
	transition: all .3s;
} */

@keyframes line-title {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }
  100% {
    opacity: 100;
    transform: translatey(0px);
  }
}

@keyframes stripe-animation {
  0% {
    background-position: 0px 100%;
  }
  100% {
    background-position: 100000px 100%;
  }
}

.title__wrapper {
  display: flex;
  flex-direction: column;
}

.divider {
  background: rgba(255, 255, 255, 0.12);
  width: 100%;
  display: block;
  height: 1px;
  margin: 0 auto;
}

.fans__image {
  position: relative;
  display: flex;
  user-select: none;
}

@media (max-width: 1050px) {
  .fans__image {
    display: none;
  }
}

.fans__image--2 {
  position: absolute;
  top: 180px;
  right: -200px;
  user-select: none;
}

.p4div {
  position: relative;
  background: linear-gradient(
    180deg,
    #23116b 46.19%,
    rgba(37, 11, 113, 0) 100.72%
  );
  backdrop-filter: blur(49px);
  width: 270px;
  height: 623px;
  border-radius: 25px;
  user-select: none;
}

.p5div {
  background: linear-gradient(180deg, #22059b 0%, rgba(37, 11, 113, 0) 100%);
  backdrop-filter: blur(99px);
  width: 246.46px;
  height: 520.55px;
  border-radius: 25px;
  position: relative;
  user-select: none;
}

.fans-left-title {
  position: absolute;
  top: 32px;
  left: 35px;
  user-select: none;
}

.fans-left-romb-1 {
  position: absolute;
  top: 100px;
  left: 35px;
  /* animation: rainbow 2s ease infinite; */
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  user-select: none;
}

.fans-left-romb-2 {
  position: absolute;
  top: 100px;
  right: 35px;
  /* animation: rainbow 2s ease infinite; */
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  user-select: none;
}

.fans-left-romb-3 {
  position: absolute;
  top: 221px;
  left: 35px;
  /* animation: rainbow 2s ease infinite; */
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  user-select: none;
}

.fans-left-romb-4 {
  position: absolute;
  top: 221px;
  right: 35px;
  /* animation: rainbow 2s ease infinite; */
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
  user-select: none;
}

.fans-left-photo-1 {
  position: absolute;
  top: 107px;
  left: 41px;
  user-select: none;
}

.fans-left-photo-2 {
  position: absolute;
  top: 107px;
  right: 41px;
  user-select: none;
}

.fans-left-photo-3 {
  position: absolute;
  top: 229px;
  left: 41px;
  user-select: none;
}

.fans-left-photo-4 {
  position: absolute;
  top: 229px;
  right: 41px;
  user-select: none;
}

.fans-left-comment {
  position: absolute;
  top: 357px;
  left: 35px;
  user-select: none;
}

.fans-right-logo {
  position: absolute;
  left: 45px;
  top: -50px;
  user-select: none;
}

.fans-right-comment-1 {
  position: absolute;
  top: 91px;
  left: 33px;
  user-select: none;
}

.fans-right-romb {
  position: absolute;
  top: 194px;
  left: 33px;
  user-select: none;
}

.fans-right-comment-2 {
  position: absolute;
  top: 293px;
  left: 31px;
  user-select: none;
}

.fans__text {
  margin-left: 300px;
}

@media (max-width: 1050px) {
  .fans__text {
    margin-left: 0;
  }
}

.fans__text-2 {
  margin-left: 100px;
}

@media (max-width: 1050px) {
  .fans__text-2 {
    margin-left: 0;
  }
}

.fans__image-phone {
  display: none;
}

@media (max-width: 1050px) {
  .fans__image-phone {
    display: block;
  }
}

.diesel__image {
  position: relative;
  display: flex;
}

.diesel__image--1 {
}

.p10div {
  position: relative;
  background: linear-gradient(180deg, #22059b 0%, rgba(37, 11, 113, 0) 100%);
  backdrop-filter: blur(49px);
  width: 270px;
  height: 537px;
  border-radius: 8px;
}

.diesel__image--2 {
  position: absolute;
  top: 180px;
  right: -200px;
}

.p11div {
  background: linear-gradient(180deg, #190a57 0%, #030c5d 100%);
  backdrop-filter: blur(84px);
  width: 270px;
  height: 428px;
  border-radius: 8px;
  position: relative;
}

.diesel-right-photo {
  position: absolute;
  top: -70px;
  left: 60px;
}

.diesel-right-name {
  position: absolute;
  top: 142px;
  left: 24px;
}

.diesel-right-title {
  position: absolute;
  top: 205px;
  left: 26px;
}

.diesel-right-bubles {
  position: absolute;
  top: 273px;
  left: 26px;
}

.diesel-right-numbers {
  position: absolute;
  top: 318px;
  left: 24px;
}

.diesel-left-photo {
  position: absolute;
  top: 0;
  left: 0;
}

.diesel-left-social {
  position: absolute;
  top: 238px;
  left: 24px;
  z-index: 2;
}

.diesel-left-titles {
  position: absolute;
  top: 312px;
  left: -40px;
}

.diesel-left-figure {
  position: absolute;
  top: 415px;
  left: 24px;
}

#three {
  position: relative;
  background-image: url(../assets/images/three-blur.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0%;
}

@media screen and (max-width: 1050px) {
  #three {
    background: none;
  }
}

.three__background-holder {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 180px;
  pointer-events: none;
}

.three__background-holder--right {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 430px;
  pointer-events: none;
}

#three .outer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#three .inner {
  max-width: 1310px;
  width: 100%;
  padding: 0px 10px;
  z-index: 2;
}

#three .row:nth-child(1) {
  margin-top: 150px;
  transition: all 0.3s;
}

#three .row:nth-child(1) h2 {
  font-family: Farro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 104.4%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

#three .row:nth-child(1) p {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

#three .row:nth-child(1) .toggle {
  min-width: 310px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
  cursor: pointer;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
  transition: all 0.3s;
}

#three .row:nth-child(1) .toggle div {
  background: var(--main-black);
  border-radius: 16px;
  min-width: 154px;
  padding: 0 20px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

@media screen and (max-width: 1050px) {
  #three .row:nth-child(1) .toggle div {
    padding: 0 10px;
    min-width: 100px;
  }
}

#three .row:nth-child(1) .toggle div:nth-child(1) {
  border-radius: 16px 0px 0px 16px;
  transition: all 0.3s;
}

#three .row:nth-child(1) .toggle div:nth-child(2) {
  border-radius: 0px 16px 16px 0px;
  transition: all 0.3s;
}

#three .row:nth-child(1) .toggle div span {
  font-family: Farro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 104.4%;
  color: #ffffff;
  transition: all 0.3s;
}

#three .row:nth-child(1) .blur {
  background: var(--blur);
  filter: blur(200px);
  z-index: 0;
  position: absolute;
  width: 300px;
  height: 250px;
  top: 120px;
  left: calc(50% - 150px);
  transition: 0.6s;
}

#three .row:nth-child(1) .toggle div.active {
  background: linear-gradient(
    270.9deg,
    var(--gradient-color-1) -2.92%,
    var(--gradient-color-2) 99.95%
  );
  transition: all 0.3s;
}

/* #three .slide img {
    width: 490px;
    margin-right: 125px;
	transition: all .3s;
} */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translatey(30px);
  }
  100% {
    opacity: 1;
    transform: translatey(0px);
  }
}

#three .slide {
  width: 930px;
  margin: 0 auto;
  display: flex;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  animation: slideIn 1s ease-in-out;
}

#three .slide .col:nth-child(2) h5 {
  font-family: Farro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 104.4%;
  color: #ffffff;
}

#three .slide .col:nth-child(2) p {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.8;
}

#three .button-fill {
  width: 178px;
  height: 48px;
  margin-right: 30px;
  margin-left: 25px;
}

#three .button-fill button {
  width: 178px;
  height: 48px;
}

#three .button-fill span {
  font-family: Farro;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffffff;
  transition: all 0.3s;
}

#three .row .title p {
  width: 232px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

#three .row .first-form .col {
  justify-content: flex-start;
}

#three .first-form .title {
  padding-left: 0;
}

#three .first-form .title::before {
  display: none;
}

#three .row .first-form {
  height: 95px;
  margin-top: 40px;
  margin-bottom: 165px;
  max-width: 1224px;
  width: 100%;
  transition: all 0.3s;
}

@keyframes iconscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes iconscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#five,
#eight,
#nine {
  background: var(--second-black);
}

#five .outer {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
}

#five .inner {
  max-width: 1310px;
  width: 100%;
  padding: 0px 10px;
  position: relative;
}

#five .row:nth-child(1) {
  margin-top: 150px;
}

#five .row:nth-child(1) h2 {
  font-family: Farro;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 104.4%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  position: relative;
}

#five .blocks {
  width: 520px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 130px;
}

#five .block {
  backdrop-filter: blur(34px);
  border-radius: 31px 31px 31px 0px;
  width: 240px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 35px;
}

#five .block:nth-child(1) {
  background: linear-gradient(
    71.22deg,
    var(--gradient-color-3) 0%,
    var(--gradient-color-4) 95.13%
  );
  margin-right: 17px;
}

#five .block:nth-child(2) {
  background: rgba(255, 255, 255, 0.1);
  margin-left: 17px;
}

#five .block:nth-child(3) {
  background: rgba(255, 255, 255, 0.1);
  margin-right: 17px;
}

#five .block:nth-child(4) {
  background: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 95.13%
  );
  margin-left: 17px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    filter: contrast(180%);
  }
  50% {
    background-position: 100% 50%;
    filter: contrast(130%);
  }
  100% {
    background-position: 0% 50%;
    filter: contrast(150%);
  }
}

@keyframes diagramscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes diagramscale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.line .progress.purple {
  background: linear-gradient(
    270.9deg,
    var(--gradient-color-1),
    50.08%,
    var(--gradient-color-2) 99.95%
  );
}

.line .progress.green {
  background: linear-gradient(
    270.9deg,
    var(--gradient-color-4),
    50.08%,
    var(--gradient-color-3) 99.95%
  );
}

#three .inner .logo_bg1 {
  position: absolute;
  right: -21px;
  top: 565px;
  width: 250px;
}

#three .inner .logo_bg2 {
  position: absolute;
  left: 0px;
  top: 250px;
  z-index: 0;
}

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}

#svg #bar,
#svg #bar1,
#svg #bar2,
#svg #bar3,
#svg #bar4,
#svg #bar5,
#svg .bar {
  stroke-linecap: round;
  stroke: url(#MyGradient);
}

#svg #bar6 {
  stroke-linecap: round;
  stroke: url(#MyGradient1);
}

#svg #bar7 {
  stroke-linecap: round;
  stroke: url(#MyGradient2);
}

#svg #bar8 {
  stroke-linecap: round;
  stroke: url(#MyGradient3);
}

#svg #bar9 {
  stroke-linecap: round;
  stroke: url(#MyGradient4);
}

#svg #bar10 {
  stroke-linecap: round;
  stroke: url(#MyGradient5);
}

#svg #back {
  stroke-width: 0.6em;
}
#cont {
  display: block;
  margin: 2em auto;
  border-radius: 100%;
  position: absolute;
  left: -52px;
  top: -41px;
  transform: scale(0.75);
  transform-origin: left top;
}
.header-inner .col .sign-up a {
  display: none;
}

#five {
  display: none;
}

.slick-arrow.slick-disabled {
  opacity: 0.4;
  user-select: none;
  pointer-events: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  border-color: transparent;
  position: absolute;
  bottom: 7px;
  width: 300px;
  height: 20px;
  margin: 0px;
  color: white;
  z-index: 3;
  font-family: 'Anonymous Pro';
  font-size: 12px;
  margin-left: -10px;
}

.slick-arrow::before {
  display: none;
}

@keyframes stripe-animation {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100000px 100%;
  }
}
.input__label {
  display: block;
  margin-bottom: 14px;

  color: #ffffff;
  font-family: Farro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 14px;
}

.input__control {
  width: 100%;
  padding-bottom: 10px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);

  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}

.input__wrapper {
  display: flex;

  width: 100%;
}

.input__wrapper > button {
  display: flex;
  align-items: flex-start;

  padding: 0;
  margin-left: -30px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: 0.3s;
}

[dir='rtl'] .input__wrapper > button {
  margin-right: -30px;
  margin-left: 0;
}

[dir='rtl'] .input__wrapper > button > img {
  transform: rotate(180deg);
}

.input__wrapper > button > img {
  width: 24px;
}

.input__wrapper > button:hover {
  filter: hue-rotate(-40deg);
  transform: scale(1.02);
}
