:root {
  --main-bg-color: #030C5E;
  --second-bg-color: #050D50;
  --gradient-color-1: #CE09FF;
  --gradient-color-2: #FFA34E;
  --gradient-color-3: #CE09FF;
  --gradient-color-4: #48F573;
  --main-black: #010845;
  --second-black: #030B4D;
  --light-bg: #2F1385;
  --blur: #FF00F5;
}
