@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

$color-background: var(--light-bg);
$color-gradient-1: linear-gradient(270deg, var(--color-1), var(--color-2));
$color-divider: var(--color-base-10);

.faq-item {
  position: relative;
  background-color: $color-background;
  border-radius: 8px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: $color-gradient-1;
    border-radius: 8px;
    opacity: 0;
    transition: 0.3s ease;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 11px 8px 11px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__arrow {
    transition: 0.3s ease;
  }

  &__title {
    @include u.font(
      $weight: var(--font-weight-medium),
      $size: var(--font-size-small)
    );
  }

  &__content {
    position: relative;
    z-index: 1;
    max-height: 0;
    padding: 0 50px 0 16px;
    overflow: hidden;
    transition: 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $color-divider;
    }

    &__descr {
      @include u.font(
        $family: var(--font-secondary),
        $size: var(--font-size-small),
        $line-height: var(--font-line-height-large)
      );
    }
  }

  &--opened {
    &::after {
      opacity: 1;
    }

    & .faq-item {
      &__arrow {
        transform: rotate(-90deg);
      }

      &__content {
        max-height: 1000px;
        padding: 22px 50px 22px 16px;
      }
    }
  }
}
