@use '../../../assets/styles/utils' as u;

@keyframes overlay {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20%) scale(1.2);
  }
}

.roadmap {
  &__item {
    padding: 40px;
    width: 220px;
    height: 182px;
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;

    h3 {
      @include u.font($size: var(--font-size-h3));

      margin-bottom: 4px;
    }

    p {
      @include u.font(
        $family: var(--font-secondary),
        $size: var(--font-size-medium),
        $line-height: var(--font-line-height-large)
      );

      white-space: pre-wrap;
      margin-top: 4px;
    }

    .overlay {
      overflow: hidden;
      width: inherit;
      height: inherit;
      padding: inherit;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      pointer-events: none;

      &::before {
        content: '';
        position: absolute;
        width: 125%;
        height: 100%;
        background-size: 100%;
        border-radius: 8px;
        inset-block-start: 0;
        left: -25%;
        animation: overlay 7s ease infinite;
        background-image: url('../../../assets/images/slide_overlay.svg');
      }
    }
  }
}
