@import '../../../assets/styles/utils';

.dropdown {
  %text-color-effect {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__wrapper {
    cursor: pointer;
    border-radius: 30px;
    width: 90px;
    height: 32px;
    position: relative;
    user-select: none;
    @include font(Farro, null, null, 14px, 14px, #ffffff);

    &.active {
      background: linear-gradient(270.9deg, #ce09ff -2.92%, #ffa34e 99.95%);

      &::before {
        opacity: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      background: url('/src/assets/images/dropdown-border.svg');
      background-repeat: no-repeat;
      z-index: -1;
      border-radius: inherit;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &:not(.active):hover::before {
      background: url('/src/assets/images/dropdown-border-hover.svg');
    }

    &::after {
      content: '';
      position: absolute;
      background: url('/src/assets/images/arrow-selector-up.svg');
      right: 8px;
      bottom: calc(50% - 3px);
      width: 8px;
      height: 6px;

      [dir='rtl'] & {
        right: auto;
        left: 8px;
      }
    }

    &:not(.active)::after {
      transform: rotate(180deg);
    }

    ul {
      list-style: none;
    }
  }

  &__list {
    margin: 0;
    padding: 10px 5px;

    > li {
      padding-left: 4px;

      [dir='rtl'] & {
        padding-left: unset;
        padding-right: 4px;
      }
    }
  }

  &__options {
    padding: 5px 0;
    margin-top: 15px;
    background: #030b4d;
    border-radius: 8px;
    display: none;
  }

  .active {
    display: block;
  }

  &__option {
    padding: 5px;

    a {
      color: #fff;

      &:hover {
        background: linear-gradient(
          71.22deg,
          var(--gradient-color-3) 11.83%,
          var(--gradient-color-4) 95.13%
        );
        @extend %text-color-effect;
      }
    }

    .selected {
      background: linear-gradient(
        270.9deg,
        var(--gradient-color-1) -2.92%,
        var(--gradient-color-2) 99.95%
      );
      @extend %text-color-effect;
    }
  }
}
