@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.dropdown {
  %text-color-effect {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__wrapper {
    cursor: pointer;
    border-radius: 30px;
    border-bottom: 1px solid transparent;
    width: fit-content;
    height: 32px;
    position: relative;
    user-select: none;

    @include u.font($size: v.$font-size-small);

    &:hover {
      border-image: linear-gradient(
          71.22deg,
          var(--gradient-color-3) 11.83%,
          var(--gradient-color-4) 95.13%
        )
        1;
    }
    @media screen and (max-width: 1050px) {
      &.active {
        border-image: linear-gradient(270.9deg, #ce09ff -2.92%, #ffa34e 99.95%)
          1;
      }
    }

    ul {
      list-style: none;
    }
  }

  &__list {
    margin: 0;
    padding: 10px 5px 10px 0;

    @media screen and (min-width: 1051px) {
      &:hover {
        .dropdown__options {
          padding: 5px 0;
          margin-top: 15px;
          visibility: visible;
          height: auto;
        }
      }

      &:hover::after {
        transform: rotate(180deg);
      }
    }
    @media screen and (max-width: 1050px) {
      .dropdown__options.active {
        padding: 5px 0;
        margin-top: 15px;
        visibility: visible;
        height: auto;
      }

      &.active::after {
        transform: rotate(180deg);
      }
    }

    &::after {
      content: '';
      position: absolute;
      background: url('../../../assets/images/arrow-selector-down.svg');
      right: 0;
      bottom: calc(50% - 3px);
      width: 8px;
      height: 6px;

      [dir='rtl'] & {
        right: auto;
        left: 0;
      }
    }

    [dir='rtl'] & {
      padding: 10px 0 10px 5px;
    }

    > li {
      padding-left: 4px;
      padding-right: 8px;

      [dir='rtl'] & {
        padding-left: 8px;
        padding-right: 4px;
      }
    }
  }

  &__options {
    padding: 0;
    background: #030b4d;
    border-radius: 8px;
    display: block;
    visibility: hidden;
    height: 0;
  }

  &__option {
    padding: 5px;

    a {
      color: #fff;

      &:hover {
        background: linear-gradient(
          71.22deg,
          var(--gradient-color-3) 11.83%,
          var(--gradient-color-4) 95.13%
        );
        @extend %text-color-effect;
      }
    }

    .selected {
      background: linear-gradient(
        270.9deg,
        var(--gradient-color-1) -2.92%,
        var(--gradient-color-2) 99.95%
      );
      @extend %text-color-effect;
    }
  }
}
