@use '../../../assets/styles/utils' as u;

$color-gradient-1: linear-gradient(90deg, var(--color-1), var(--color-3));
$color-gradient-2: linear-gradient(270deg, var(--color-1), var(--color-2));
$color-background-options: var(--second-black);

.dropdown {
  %text-color-effect {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__wrapper {
    cursor: pointer;
    border-radius: 30px;
    @include u.font($size: var(--font-size-small));

    ul {
      list-style: none;
    }
  }

  &__list {
    margin: 0;
    padding: 10px 0;
    position: relative;

    &.active {
      > li {
        border-image: $color-gradient-2 0 0 1 0;

        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &:not(.active):hover {
      > li {
        border-image: $color-gradient-1 0 0 1 0;
      }
    }

    > li {
      @include u.font($weight: var(--font-weight-medium));

      border-bottom: 1px solid transparent;
      width: max-content;

      &::after {
        content: '';
        background: url('../../../assets/images/arrow-selector-down.svg');
        width: 8px;
        height: 6px;
        display: inline-block;
        vertical-align: 0.25em;
        margin-inline-start: 6px;
      }
    }
  }

  &__options {
    background: $color-background-options;
    border-radius: 8px;
    display: none;
    position: static;

    &.active {
      display: block;
      position: absolute;
      top: 100%;
      margin-inline-start: -4px;
      padding-inline-start: 4px;
    }
  }

  &__option {
    padding: 2px;

    a {
      &:hover {
        background: $color-gradient-1;
        @extend %text-color-effect;
      }
    }

    .selected {
      background: $color-gradient-2;
      @extend %text-color-effect;
    }
  }
}
