@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

$color-divider: var(--color-base-10);
%display-flex-align-center {
  display: flex;
  align-items: center;
}

.user-info {
  @extend %display-flex-align-center;

  &__photo {
    display: block;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 64px;
    height: 71px;
    clip-path: polygon(
      50% 0,
      50% 0,
      100% 25%,
      100% 75%,
      50% 100%,
      50% 100%,
      0 75%,
      0 25%
    );

    &__wrapper {
      margin-right: 26px;
      position: relative;
    }
  }

  &__content {
    &__name {
      display: block;
      @include u.font($size: var(--font-size-medium));
    }

    &__wrapper {
      @extend %display-flex-align-center;
    }

    &__info {
      @extend %display-flex-align-center;

      position: relative;
      @include u.font($size: var(--font-size-small));

      &:not(:last-child) {
        margin-right: 16px;

        &::after {
          content: '';
          width: 1px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -8px;
          background: $color-divider;
          border-radius: 4px;
        }
      }

      & > img {
        display: block;
        margin-right: 4px;
      }
    }
  }
}

@media (min-width: 1050px) {
  .user-info {
    &__photo__wrapper {
      order: 2;
      margin-right: 0;
      margin-left: 24px;
    }
  }
}
