@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.table {
  border-collapse: separate;
  border-spacing: 0 8px;

  &__cell {
    @include u.font($size: v.$font-size-small);

    text-align: left;

    &:not(&--header) {
      padding-top: 22px;
      padding-bottom: 22px;
      background-color: #040d5b;

      &:first-child {
        padding-left: 16px;
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        padding-right: 16px;
        border-radius: 0 8px 8px 0;
      }
    }

    &--header {
      opacity: 0.5;
      font-weight: normal;
    }

    &__action-button {
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
