%position-abs {
  position: absolute;
  user-select: none;
}
%transition {
  transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
}
@mixin position($top, $right: null, $left: null) {
  @extend %position-abs;
  top: $top;
  right: $right;
  left: $left;
}
.fans {
  &__image {
    position: relative;
    display: flex;
    user-select: none;
    &--2 {
      @include position($top: 180px, $right: -200px);
    }
  }
  &-left {
    &-title {
      @include position($top: 32px, $left: 35px);
    }
    &-romb-1 {
      @include position($top: 100px, $left: 35px);
      @extend %transition;
    }
    &-romb-2 {
      @include position($top: 100px, $right: 35px);
      @extend %transition;
    }
    &-romb-3 {
      @include position($top: 221px, $left: 35px);
      @extend %transition;
    }
    &-romb-4 {
      @include position($top: 221px, $right: 35px);
      @extend %transition;
    }
    &-photo-1 {
      @include position($top: 107px, $left: 41px);
    }
    &-photo-2 {
      @include position($top: 107px, $right: 41px);
    }
    &-photo-3 {
      @include position($top: 229px, $left: 41px);
    }
    &-photo-4 {
      @include position($top: 229px, $right: 41px);
    }
    &-comment {
      @include position($top: 357px, $left: 35px);
    }
  }
  &-right {
    &-logo {
      @include position($top: -50px, $left: 45px);
    }
    &-comment-1 {
      @include position($top: 91px, $left: 33px);
    }
    &-romb {
      @include position($top: 194px, $left: 33px);
    }
    &-comment-2 {
      @include position($top: 293px, $left: 31px);
    }
  }

  &__text {
    margin-left: 300px;
  }
  &__text-2 {
    margin-left: 100px;
  }
  &__image-phone {
    display: none;
  }
  @media (max-width: 1050px) {
    &__image {
      display: none;
    }
    &__text {
      margin-left: 0;
    }
    &__text-2 {
      margin-left: 0;
    }
    &__image-phone {
      display: block;
    }
  }
}

%pNdiv {
  position: relative;
  border-radius: 25px;
  user-select: none;
}
.p4div {
  background: linear-gradient(
    180deg,
    #23116b 46.19%,
    rgba(37, 11, 113, 0) 100.72%
  );
  backdrop-filter: blur(49px);
  width: 270px;
  height: 623px;
  @extend %pNdiv;
}
.p5div {
  background: linear-gradient(180deg, #22059b 0%, rgba(37, 11, 113, 0) 100%);
  backdrop-filter: blur(99px);
  width: 246.46px;
  height: 520.55px;
  @extend %pNdiv;
}
