@import 'public/styles/utils.scss';
%transition {
  transition: all 0.3s;
}
#three {
  position: relative;
  background-image: url('/assets/images/three-blur.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0%;
  .outer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .inner {
    %position {
      position: absolute;
    }
    @mixin position($top, $right: null, $left: null) {
      @extend %position;
      top: $top;
      right: $right;
      left: $left;
    }
    max-width: 1310px;
    width: 100%;
    padding: 0px 10px;
    z-index: 2;
    .logo_bg1 {
      @include position($top: 565px, $right: -21px);
      width: 250px;
    }
    .logo_bg2 {
      @include position($top: 250px, $left: 0);
      z-index: 0;
    }
  }
  .row {
    %position {
      text-align: center;
      z-index: 1;
      position: relative;
    }

    &:nth-child(1) {
      margin-top: 150px;
      @extend %transition;
      h2 {
        @include font(Farro, normal, normal, 32px, 104.4%x, #ffffff);
        @extend %position;
      }
      p {
        @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
        @extend %position;
      }
      .toggle {
        min-width: 310px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 48px;
        cursor: pointer;
        margin-bottom: 80px;
        z-index: 1;
        position: relative;
        @extend %transition;
        div {
          background: var(--main-black);
          border-radius: 16px;
          min-width: 154px;
          padding: 0 20px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          @extend %transition;
          &:nth-child(1) {
            border-radius: 16px 0px 0px 16px;
            @extend %transition;
          }
          &:nth-child(2) {
            border-radius: 0px 16px 16px 0px;
            @extend %transition;
          }
          span {
            @include font(Farro, normal, normal, 16px, 104.4%, #ffffff);
            @extend %transition;
          }
        }
        div.active {
          background: linear-gradient(
            270.9deg,
            var(--gradient-color-1) -2.92%,
            var(--gradient-color-2) 99.95%
          );
          @extend %transition;
        }
      }
      .blur {
        background: var(--blur);
        filter: blur(200px);
        z-index: 0;
        position: absolute;
        width: 300px;
        height: 250px;
        top: 120px;
        left: calc(50% - 150px);
        transition: 0.6s;
      }
    }
    .title {
      p {
        width: 232px;
        @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);
      }
    }
    .first-form {
      .col {
        justify-content: flex-start;
      }
      height: 95px;
      margin-top: 40px;
      margin-bottom: 165px;
      max-width: 1224px;
      width: 100%;
      @extend %transition;
    }
  }
  .slide {
    width: 930px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 1;
    @extend %transition;
    animation: slideIn 1s ease-in-out;
    .col {
      &:nth-child(2) {
        h5 {
          @include font(Farro, normal, 500, 16px, 104.4%, #ffffff);
        }
  .button--fill {
    width: 178px;
    height: 48px;
    margin-right: 30px;
    margin-left: 25px;

    button {
      width: 178px;
      height: 48px;
    }

    span {
      @include font(Farro, normal, 500, 16px, 16px, #ffffff);

      display: flex;
      align-items: center;
      text-transform: capitalize;
      @extend %transition;
    }
  }
      }
    }
  }
}
.three {
  %position {
    position: absolute;
    z-index: 0;
    pointer-events: none;
  }
  @mixin position($top, $right: null, $left: null) {
    @extend %position;
    top: $top;
    right: $right;
    left: $left;
  }
  &__background-holder {
    @include position($top: 180px, $left: 0);
    &--right {
      @include position($top: 430px, $right: 0);
    }
  }
}

@media screen and (max-width: 1050px) {
  #three {
    background: none;
    .inner {
      .logo_bg1 {
        display: none;
      }
      .logo_bg2 {
        display: none;
      }
    }
    .row {
      &:nth-child(1) {
        .blur {
          display: none;
        }
        .toggle {
          div {
            padding: 0 10px;
            min-width: 100px;
          }
        }
        margin-top: 50px;
        h2 {
          font-size: 24px;
        }
        p {
          width: 260px;
          margin: 0 auto;
          margin-top: 20px;
        }
      }
      .first-form {
        display: none;
      }
    }
    .slide {
      img {
        width: 90vw;
        margin-right: 0px;
      }
      width: 100vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .col {
        &:nth-child(1) {
          display: flex;
          justify-content: center;
        }
        &:nth-child(2) {
          padding: 0px 20px;
          margin-bottom: 50px;
        }
      }
    }
  }
  .three {
    %display {
      display: none;
    }
    &__background-holder {
      @extend %display;
      &--right {
        @extend %display;
      }
    }
  }
}
