$color-background-slides-1: linear-gradient(
  236.58deg,
  var(--color-1),
  0.92%,
  var(--color-2) 100%
);
$color-background-slides-2: linear-gradient(
  236.58deg,
  var(--color-3),
  50%,
  var(--color-1) 100%
);
$color-background-slides-3: linear-gradient(
  236.58deg,
  var(--color-2),
  82.92%,
  var(--color-2) 200%
);

.roadmap {
  &__list {
    position: relative;

    @mixin position() {
      top: 50%;
      position: absolute;
      transition: all 0.3s ease-in-out;
      transform: translateY(-50%) !important;
    }

    .prev {
      @include position;

      inset-inline-start: 0;
      transform: translateY(-50%) rotate(180deg) !important;

      [dir='rtl'] & {
        transform: translateY(-50%) rotate(0deg) !important;
      }

      &:hover {
        opacity: 1;
      }
    }

    .next {
      @include position;

      inset-inline-end: 0;

      [dir='rtl'] & {
        transform: translateY(-50%) rotate(180deg) !important;
      }

      &:hover {
        opacity: 1;
      }
    }
    %swiper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
    }

    .swiper {
      width: 90%;

      &-slide {
        width: auto;
        %transition {
          transition: all 0.3s;
        }
        %transition-transform {
          @extend %transition;

          transform: scale(1.08);
        }
        @extend %transition;

        &:hover {
          filter: contrast(150%);
          @extend %transition;

          .roadmap {
            &__item {
              h3 {
                @extend %transition-transform;
              }

              p {
                @extend %transition-transform;
              }
            }
          }
        }
        %item {
          background-size: 200% 200%;
          animation: gradient 3s ease infinite;
        }

        &:nth-child(1n + 1) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-1;
            }
          }
        }

        &:nth-child(2n + 2) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-2;
            }
          }
        }

        &:nth-child(3n + 3) {
          .roadmap {
            &__item {
              @extend %item;

              background: $color-background-slides-3;
            }
          }
        }
      }

      &-pagination-roadmaplist {
        display: none;
      }

      &-prev-roadmaplist {
        @extend %swiper;

        left: 0;

        [dir='rtl'] & {
          right: 0;
          left: auto;
        }
      }

      &-next-roadmaplist {
        @extend %swiper;

        right: 0;

        [dir='rtl'] & {
          right: auto;
          left: 0;
        }
      }

      &-button-disabled {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }

    .pagination {
      width: 90%;
      position: relative;
      display: flex;
      place-content: center;
      margin-top: 20px;
    }
  }
}
@media screen and (max-width: 1050px) {
  .roadmap {
    &__list {
      position: relative;

      .swiper {
        width: 100%;

        &-next-roadmaplist,
        &-prev-roadmaplist {
          display: none;
        }

        &-pagination-roadmaplist {
          display: block;
          z-index: 5;
          transform: none !important;
        }

        &-pagination-bullet {
          display: inline-block;
          width: 14px;
          height: 14px;
          background: none;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
          opacity: 0.8;

          &-active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            opacity: 1;
          }
        }
      }
    }
  }
}
