@import '../../../assets/styles/utils';
@mixin position($top, $right: null, $left: null) {
  @content;

  top: $top;
  right: $right;
  left: $left;
}

#news {
  position: relative;
  background: var(--second-black);

  .inner {
    max-width: 1310px;
    width: 100%;
    padding: 0 10px;
    position: relative;

    .logo {
      %position {
        position: absolute;
        width: 250px;
      }

      &_bg2 {
        position: absolute;
        @include position(0, -80px, null) {
          @extend %position;
        }
      }

      &_bg1 {
        @include position(400px, null, -150px) {
          @extend %position;
        }

        z-index: 0;
      }
    }
  }

  .outer {
    display: flex;
    justify-content: center;
    max-width: 100vw;
    width: 100%;
  }

  .row {
    &:nth-child(2) {
      h2 {
        @include font(Farro, normal, normal, 32px, 104.4%, #ffffff);

        text-align: center;
        z-index: 1;
        position: relative;
        margin-top: 0;
      }

      .blur {
        background: var(--blur);
        filter: blur(200px);
        z-index: 0;
        position: absolute;
        width: 300px;
        height: 250px;
        top: 0;
        left: calc(50% - 150px);
        transition: 0.6s;
      }

      p {
        @include font(Roboto Condensed, normal, normal, 16px, 26px, #ffffff);

        text-align: center;
        z-index: 1;
        margin-bottom: 55px;
        position: relative;
      }
    }
  }

  .title-component {
    margin-bottom: 54px;
  }

  .blogs {
    %position {
      top: -40px;
      width: 75px;
      height: 85px;
      position: absolute;
      cursor: pointer;
      transition: all 0.3s;
    }

    .prev {
      @extend %position;

      left: 0;

      &:hover {
        opacity: 1;
      }

      [dir='rtl'] & {
        left: auto;
        right: 0;
      }
    }

    .next {
      @extend %position;

      right: 0;

      &:hover {
        opacity: 1;
      }

      [dir='rtl'] & {
        left: 0;
        right: auto;
      }
    }

    %swiper {
      border: none;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20px;
      z-index: 5;
    }

    .swiper {
      width: 925px;
      margin: 0 auto;
      margin-bottom: 70px;

      &-slide {
        width: auto;
      }

      &-pagination {
        display: none;
      }

      &-prev {
        @extend %swiper;

        left: 0;

        [dir='rtl'] & {
          right: 0;
          left: auto;
        }
      }

      &-next {
        @extend %swiper;

        right: 0;

        [dir='rtl'] & {
          right: auto;
          left: 0;
        }
      }

      &-button-disabled {
        opacity: 0.4;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  .button--fill {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 100px;
  }

  .bg {
    position: absolute;
    left: -60px;
    top: -60px;
    animation: text-animation 1s linear infinite alternate;
  }

  .divider {
    max-width: 999px;
  }
}

.news {
  &__background-holder {
    position: absolute;
    z-index: 1;
    left: -100px;
    top: 250px;
    pointer-events: none;
  }

  &__background-holder--right {
    position: absolute;
    z-index: 0;
    right: 0;
    top: -50px;
    pointer-events: none;
  }
}

@media screen and (max-width: 1050px) {
  #news {
    .inner {
      .logo {
        &_bg1 {
          display: none;
        }

        &_bg2 {
          display: none;
        }
      }
    }

    .bg {
      display: none;
    }

    .row {
      &:nth-child(2) {
        h2 {
          font-size: 24px;
        }

        p {
          width: 260px;
          margin: 0 auto;
          margin-bottom: 50px;
        }
      }
    }

    .blogs {
      margin-bottom: 80px;

      .swiper {
        width: 100%;
        margin: 0 auto;

        &-next,
        &-prev {
          display: none;
        }

        &-pagination {
          position: absolute;
          bottom: -60px;
          display: flex !important;
          justify-content: center;
          z-index: 5;
          list-style: none;

          &-bullet {
            display: block;
            width: 14px;
            height: 14px;
            background: none;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");

            &-active {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M7 0L13.6574 4.83688L11.1145 12.6631H2.8855L0.342604 4.83688L7 0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='14.5265' y1='6.90025' x2='-0.0966765' y2='6.67173' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CE09FF'/%3E%3Cstop offset='1' stop-color='%23FFA34E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            }
          }
        }
      }
    }

    .rowseven {
      padding-left: 20px;
    }

    .divider {
      display: none;
    }

    .title-component {
      margin-bottom: 32px;
    }

    .button {
      &--fill {
        margin-top: 110px;

        button {
          width: 290px;
        }
      }
    }
  }
  %display {
    display: none;
  }

  .news {
    &__background-holder {
      @extend %display;

      &--right {
        @extend %display;
      }
    }
  }
}
