@use '../../../assets/styles/utils' as u;

.color-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 6px;
  border-radius: 8px;

  &__title {
    display: block;
    margin-left: 10px;
    @include u.font($size: var(--font-size-small));
  }

  &__trigger {
    display: block;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  &__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
