$font-main: 'Farro';
$font-secondary: 'Roboto Condensed';
$font-fallback: 'Roboto', 'Segoe UI', sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-h1: 54px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-line-height-medium: 1;
$font-line-height-large: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
