$font-main: 'Farro';
$font-secondary: 'Roboto Condensed';
$font-fallback: 'Roboto', 'Segoe UI', sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-h1: 54px;
$font-size-h2: 32px;
$font-size-h3: 24px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-line-height-medium: 1;
$font-line-height-large: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$color-main-bg: #030c5e;
$color-second-bg: #050d50;
$color-black-main: #010845;
$color-black-secondary: #030b4d;
$color-light-bg: #2f1385;
$color-1: #ce09ff;
$color-2: #ffa34e;
$color-3: #48f573;
$color-4: #ef7188;
$color-base: #fff;
$color-base-10: rgb($color-base, 10%);
$color-base-20: rgb($color-base, 20%);
$color-base-30: rgb($color-base, 30%);
$color-base-40: rgb($color-base, 40%);
$color-base-50: rgb($color-base, 50%);
$color-base-60: rgb($color-base, 60%);
$color-base-70: rgb($color-base, 70%);
$color-base-80: rgb($color-base, 80%);
$color-base-90: rgb($color-base, 90%);
