/* stylelint-disable function-url-quotes */
@use 'variables' as v;
@use 'utils' as u;

:root {
  --main-bg-color: #{v.$color-main-bg};
  --second-bg-color: #{v.$color-second-bg};
  --gradient-color-1: #{v.$color-gradient-1};
  --gradient-color-2: #{v.$color-gradient-2};
  --gradient-color-3: #{v.$color-gradient-3};
  --gradient-color-4: #{v.$color-gradient-4};
  --main-black: #{v.$color-black-main};
  --second-black: #{v.$color-black-secondary};
  --light-bg: #{v.$color-light-bg};
  --color-base: #{v.$color-base};
}

$color-font: var(--color-base);
$color-background: var(--main-bg-color);
$color-divider: rgb(#fff, 10%);
$color-circle-stroke: #666;

* {
  outline: none;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background: $color-background;
  @include u.font(
    $family: (
      v.$font-main,
      v.$font-secondary,
      v.$font-fallback,
    ),
    $size: v.$font-size-small,
    $color: $color-font
  );

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.noscroll {
  overflow: hidden;
}

#svg circle {
  stroke: $color-circle-stroke;
  stroke-width: 1em;
  transition: stroke-dashoffset 1s linear;
  stroke-dashoffset: 0;
}

#svg .bar,
#bar,
#bar1,
#bar2,
#bar3,
#bar4,
#bar5 {
  stroke-linecap: round;
  stroke: url(#MyGradient);
}

#svg #bar6 {
  stroke-linecap: round;
  stroke: url(#MyGradient1);
}

#svg #bar7 {
  stroke-linecap: round;
  stroke: url(#MyGradient2);
}

#svg #bar8 {
  stroke-linecap: round;
  stroke: url(#MyGradient3);
}

#svg #bar9 {
  stroke-linecap: round;
  stroke: url(#MyGradient4);
}

#svg #bar10 {
  stroke-linecap: round;
  stroke: url(#MyGradient5);
}

#svg #back {
  stroke-width: 0.6em;
}

#cont {
  position: absolute;
  top: -41px;
  left: -52px;
  display: block;
  margin: 2em auto;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: left top;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  background: $color-divider;
}

.skip-link.screen-reader-text {
  display: none;
}

.header-inner .col .sign-up a {
  display: none;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output {
  position: absolute;
  bottom: 7px;
  z-index: 3;
  width: 300px;
  height: 20px;
  margin: 0;
  margin-left: -10px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 12px;
  color: white;
  border-color: transparent;
}

@media screen and (max-width: 1050px) {
  section {
    overflow: hidden;
  }

  #cont {
    position: absolute;
    top: -35px;
    left: -43px;
    display: block;
    margin: 2em auto;
    border-radius: 100%;
    transform: scale(0.67);
    transform-origin: left top;
  }
}
