@use '~sanitize.css/sanitize';
@use '~sanitize.css/typography';
@use '~sanitize.css/forms';
@use 'fonts';
@use 'animations';
@use 'misc';

:root {
  --main-bg-color: #030c5e;
  --second-bg-color: #050d50;
  --gradient-color-1: #ce09ff;
  --gradient-color-2: #ffa34e;
  --gradient-color-3: #ce09ff;
  --gradient-color-4: #48f573;
  --main-black: #010845;
  --second-black: #030b4d;
  --light-bg: #2f1385;
  --blur: #ff00f5;
}
