@use '../../../assets/styles/variables' as v;
@use '../../../assets/styles/utils' as u;

.creator-news-card {
  display: flex;
  background: #281981;
  border-radius: 10px;

  &__photo {
    &__wrapper {
      order: 2;
      position: relative;
      width: 40%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0 10px 10px 0;
    }

    &__share {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      padding: 0;
      background-color: rgb(255 255 255 / 10%);
      backdrop-filter: blur(34px);
      border: none;
      border-radius: 100px;
      cursor: pointer;
    }
  }

  &__content {
    order: 1;
    width: 60%;
    padding: 16px;

    &__tag {
      background: linear-gradient(270.9deg, #ef7188 -2.92%, #ffa34e 99.95%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include u.font(
        $family: v.$font-secondary,
        $size: v.$font-size-small,
        $line-height: v.$font-line-height-large
      );

      &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
      }

      &__created {
        display: none;
        color: rgb(255 255 255 / 20%);
        @include u.font($size: 12px);
      }
    }

    &__title {
      display: block;
      margin-bottom: 20px;
      @include u.font($size: v.$font-size-medium);
    }

    &__descr {
      display: none;
      margin: 0;
      color: rgb(255 255 255 / 50%);
      @include u.font($family: v.$font-secondary, $size: v.$font-size-small);
    }

    &__created {
      color: rgb(255 255 255 / 20%);
      @include u.font($size: 12px);
    }
  }

  &--main {
    display: block;

    & .creator-news-card {
      &__photo__wrapper {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
      }

      &__content {
        width: auto;

        &__tag__wrapper {
          margin-bottom: 4px;
        }

        &__tag__created {
          display: block;
        }

        &__title {
          margin-bottom: 12px;
        }

        &__descr {
          display: block;
        }

        &__created {
          display: none;
        }
      }
    }
  }
}
