@font-face {
  font-weight: 400;
  font-family: "Farro";
  font-style: normal;
  font-display: swap;

  src: url("../public/assets/fonts/farro/regular/farro-v4-latin-regular.woff2") format("woff2"),
  url("../public/assets/fonts/farro/regular/farro-v4-latin-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Farro";
  font-style: normal;
  font-display: swap;

  src: url("../public/assets/fonts/farro/medium/farro-v4-latin-500.woff2") format("woff2"),
  url("../public/assets/fonts/farro/medium/farro-v4-latin-500.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Farro";
  font-style: normal;
  font-display: swap;

  src: url("../public/assets/fonts/farro/bold/farro-v4-latin-700.woff2") format("woff2"),
  url("../public/assets/fonts/farro/bold/farro-v4-latin-700.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-display: swap;

  src: url("../public/assets/fonts/roboto-condensed/regular/roboto-condensed-v19-latin-regular.woff2") format("woff2"),
  url("../public/assets/fonts/roboto-condensed/regular/roboto-condensed-v19-latin-regular.woff") format("woff");
}
