.container {
  display: inline-flex;
  position: relative;
  &Bg{
    path{
    transition: all .3s ease-in-out;
    }
  }
  &:hover{
    .containerBg{
      path{
        fill:#281981;
      }
    }
  }
  &Child{
    display: inline-flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}