@use '../../../assets/styles/utils' as u;

$color-main: #111752;
$color-secondary: #510a8c;
$color-background-nav-fixed: $color-main;
$color-background-nav-mobile: linear-gradient(
  0deg,
  $color-secondary,
  var(--main-bg-color)
);

header {
  .header {
    &-outer {
      display: flex;
      width: 100%;
      justify-content: center;
      position: fixed;
      z-index: 9999;
      padding: 40px 0;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &-inner {
      display: flex;
      justify-content: flex-start;
      max-width: 1310px;
      width: 100%;
      padding: 0 10px;

      .col {
        width: max-content;
        align-items: center;
        display: flex;

        &:nth-child(1) {
          a {
            width: 126px;
            height: 43px;
            position: relative;
            %position-absolute {
              position: absolute;
              transition: 0.4s;
              left: 0;
              top: 0;
            }

            .logo {
              width: 126px;
              height: 43px;

              &_1 {
                @extend %position-absolute;

                &:hover {
                  opacity: 0;
                }
              }

              &_2 {
                @extend %position-absolute;
              }
            }
          }
        }

        &:nth-child(2) {
          margin-left: 60px;

          [dir='rtl'] & {
            margin-left: 0;
            margin-right: 60px;
          }

          .menu {
            width: max-content;

            ul {
              list-style: none;
              padding-left: 0;
              display: flex;
              gap: 20px;

              [dir='rtl'] & {
                padding-left: unset;
                padding-right: 0;
              }
            }

            li {
              a {
                @include u.font(
                  $weight: var(--font-weight-medium),
                  $size: var(--font-size-small)
                );

                text-decoration: none;
              }
            }
          }
        }

        &:nth-child(3) {
          display: flex;
          justify-content: space-between;
          margin-left: auto;
          margin-right: 30px;
          gap: 20px;

          [dir='rtl'] & {
            margin-left: 30px;
            margin-right: auto;
          }
        }

        .sign-in {
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
          }

          span {
            @include u.font(
              $weight: var(--font-weight-medium),
              $size: var(--font-size-medium)
            );

            text-transform: capitalize;
          }

          img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            transition: 0s;
            filter: brightness(4);

            [dir='rtl'] & {
              margin-left: unset;
              margin-right: 20px;
              transform: rotate(180deg);
            }
          }

          &:hover {
            img {
              filter: brightness(1);
            }
          }
        }
      }

      .bg {
        display: none;
        position: absolute;
        bottom: 0;
      }

      .menu {
        .sign-in {
          display: none;
        }
      }
    }

    &__fixed {
      padding: 10px 0;
      background-color: $color-background-nav-fixed;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }

  .burger {
    display: none;
    width: 14px;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  [dir='rtl'] {
    .header {
      &-inner {
        .col {
          &:nth-child(3) {
            margin-left: 30px;
            margin-right: auto;
          }

          .sign-in {
            margin-right: 0;

            img {
              margin-left: 0;
              margin-right: 20px;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1050px) {
  header {
    .header {
      &-outer,
      &__fixed {
        padding: 0;
      }

      &-inner {
        padding: 0 25px;
        margin-top: 5px;
        max-width: 100vw;

        .col {
          &:nth-child(1) {
            width: 100%;

            .logo {
              width: 80px;
            }

            a {
              z-index: 10;
              position: relative;
              margin: 0 auto;
              transform: translateX(14px);

              [dir='rtl'] & {
                transform: translateX(-14px);
              }
            }
          }

          &:nth-child(2) {
            margin-left: 0;

            [dir='rtl'] & {
              margin-left: auto;
              margin-right: 0;
            }

            .menu {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 110vh;
              background: $color-background-nav-mobile;
              z-index: 9;
              user-select: none;
              pointer-events: none;
              opacity: 0;
              transition: 0.3s;
              transform: translateY(50px);
              overflow: hidden;

              [dir='rtl'] & {
                left: unset;
                right: 0;
              }

              ul {
                flex-direction: column;
                width: max-content;
                position: absolute;
                left: 60px;
                top: 150px;
                z-index: 11;

                [dir='rtl'] & {
                  left: unset;
                  right: 60px;
                }
              }

              li {
                margin-bottom: 30px;

                a {
                  @include u.font($size: 20px);
                }
              }
            }
          }

          &:nth-child(3) {
            margin: 0;
          }

          .menu.active {
            user-select: auto;
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
          }

          justify-content: space-between;

          .sign-in {
            display: none;
          }
        }

        .bg {
          display: block;
          right: 0;
        }

        .menu {
          .sign-in {
            display: flex;
            align-items: center;

            span {
              @include u.font($size: 20px);
            }
          }
        }
      }
    }

    .burger {
      display: block;
      z-index: 10;
      position: relative;
    }
  }
}
