@use '../../../assets/styles/utils' as u;

$color-main: #111752;
$color-secondary: #510a8c;
$color-background-nav-fixed: $color-main;
$color-background-nav-mobile: linear-gradient(
  0deg,
  $color-secondary,
  var(--main-bg-color)
);
$color-burger-icon: var(--color-base);

header {
  .header {
    &-outer {
      display: flex;
      width: 100%;
      justify-content: center;
      position: fixed;
      z-index: 9999;
      padding: 40px 0;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &-inner {
      display: flex;
      justify-content: flex-start;
      max-width: 1310px;
      width: 100%;
      padding: 0 10px;

      .col {
        width: max-content;
        align-items: center;
        display: flex;

        &:nth-child(1) {
          a {
            width: 126px;
            height: 43px;
            position: relative;

            img {
              width: 100%;
              height: 100%;
            }
          }
          %position-absolute {
            position: absolute;
            transition: 0.4s;
            left: 0;
            top: 0;
          }

          .logo {
            &_1 {
              @extend %position-absolute;

              &:hover {
                opacity: 0;
              }
            }

            &_2 {
              @extend %position-absolute;
            }
          }
        }

        &:nth-child(2) {
          margin-left: 60px;

          [dir='rtl'] & {
            margin-left: 0;
            margin-right: 60px;
          }

          .menu {
            width: max-content;

            ul {
              list-style: none;
              padding-left: 0;
              display: flex;
              gap: 20px;

              [dir='rtl'] & {
                padding-left: unset;
                padding-right: 0;
              }
            }

            li {
              a {
                @include u.font(
                  $weight: var(--font-weight-medium),
                  $size: var(--font-size-small)
                );

                text-decoration: none;
              }
            }
          }
        }

        &:nth-child(3) {
          display: flex;
          justify-content: space-between;
          margin-left: auto;
          margin-right: 30px;
          gap: 20px;

          [dir='rtl'] & {
            margin-left: 30px;
            margin-right: auto;
          }

          .dropdown {
            &__list > li {
              @include u.font($size: var(--font-size-medium));
            }
          }
        }

        .sign-in {
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
          }

          span {
            @include u.font(
              $weight: var(--font-weight-medium),
              $size: var(--font-size-medium)
            );

            text-transform: capitalize;
          }

          img {
            width: 25px;
            height: 25px;
            margin-left: 20px;
            transition: 0s;
            filter: brightness(4);

            [dir='rtl'] & {
              margin-left: unset;
              margin-right: 20px;
              transform: rotate(180deg);
            }
          }

          &:hover {
            img {
              filter: brightness(1);
            }
          }
        }
      }

      .bg {
        display: none;
        position: absolute;
        bottom: 0;
      }

      .menu {
        .sign-in {
          display: none;
        }
      }
    }

    &__fixed {
      padding: 10px 0;
      background-color: $color-background-nav-fixed;
      transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
  }

  .burger {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  header {
    .header {
      &-outer,
      &__fixed {
        padding: 0;
      }

      &-inner {
        padding: 0 25px;
        margin-top: 5px;
        max-width: 100vw;

        .col {
          &:nth-child(1) {
            width: 100%;

            a {
              z-index: 10;
              margin: 0 auto;
              height: 32px;
              width: 94px;
              left: 50%;
              transform: translate(-50%);
              position: absolute;

              [dir='rtl'] & {
                left: unset;
                right: 50%;
                transform: translate(50%);
              }

              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          &:nth-child(2) {
            margin-left: 0;

            [dir='rtl'] & {
              margin-left: auto;
              margin-right: 0;
            }

            .menu {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100vh;
              background: $color-background-nav-mobile;
              z-index: 9;
              user-select: none;
              pointer-events: none;
              opacity: 0;
              transition: 0.3s;
              transform: translateY(50px);
              overflow: hidden;

              [dir='rtl'] & {
                left: unset;
                right: 0;
              }

              ul {
                flex-direction: column;
                width: max-content;
                position: absolute;
                left: 60px;
                top: 90px;
                z-index: 11;

                [dir='rtl'] & {
                  left: unset;
                  right: 60px;
                }
              }

              li {
                margin-bottom: 30px;

                a {
                  @include u.font($size: 20px);
                }
              }
            }
          }

          &:nth-child(3) {
            margin: 0;
          }

          .menu.active {
            user-select: auto;
            pointer-events: auto;
            opacity: 1;
            transform: translateY(0);
            overflow: auto;
          }

          justify-content: space-between;

          .sign-in {
            display: none;
          }
        }

        .bg {
          display: block;
          right: 0;
        }

        .menu {
          .sign-in {
            display: flex;
            align-items: center;

            span {
              @include u.font($size: 20px);
            }
          }
        }
      }
    }

    %burger {
      pointer-events: none;
      display: block;
      content: '';
      width: 14px;
      border-radius: 0.25em;
      background-color: $color-burger-icon;
      height: 1.5px;
      position: absolute;
      transform: rotate(0);
      transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
        0.4s background-color 0.2s;
    }

    %burger-transition-open {
      transition: 0.2s background-color, 0.2s top, 0.2s left,
        0.2s transform 0.15s;
    }

    .burger {
      display: block;
      z-index: 10;
      height: 11.5px;
      width: 14px;
      cursor: pointer;
      position: relative;
      transition: 0.2s all;
      border: none;

      &-lines::after {
        top: -5px;
        @extend %burger;
      }

      &-lines::before {
        top: 5px;
        @extend %burger;
      }

      &-lines {
        top: 50%;

        @extend %burger;
      }

      &.open {
        .burger-lines {
          @extend %burger-transition-open;

          background-color: transparent;
        }

        .burger-lines::after {
          @extend %burger-transition-open;

          top: 0;
          transform: rotate(45deg);
        }

        .burger-lines::before {
          @extend %burger-transition-open;

          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
